<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - Post Comment List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i></h6>	
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="comment" slot-scope="comment">
					<div>
						<a :href="comment.item.user_url" target="_blank">{{comment.item.user}}</a> comment to &nbsp;
						<a :href="comment.item.post_url" target="_blank">{{comment.item.post}}</a> <br>
						<i class="text-muted">{{comment.item.comment_at}}</i>
					</div>
					<div>
						{{comment.item.description}}
					</div>
				</template>
				<template slot="action" slot-scope="comment">
					<b-btn size="sm" variant="outline-success" class="border-success" @click="approve(comment.item)" v-show="comment.item.status == 'pending'">Approve</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="block(comment.item)" v-show="comment.item.status!== 'block'">Block</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
	</div>
</template>

<script>
export default {
  data () {
    return {
			isAjxRequest: false,
			currentPage: 1,
			perPage: 25,
			filter: null,
			items: [],
			fields: {
				comment:{},
				status:{thStyle: 'width: 5rem;'},
				action:{thStyle: 'width: 15rem;'}
			},
    }
  },
	methods: {
		approve(comment){
			this.isAjxRequest = true;
			axios.put('api/'+this.$route.params.type+'/post/comment/approve/'+comment.id)
				.then(response => {
					this.fetchData();
				}).catch(error => {
					alert(getErrorMessage(error.response))
				}).then(() => {
					this.isAjxRequest = false;
				})
		},
		block(comment){			
			this.isAjxRequest = true;
			axios.put('api/'+this.$route.params.type+'/post/comment/block/'+comment.id)
				.then(response => {
					this.fetchData();
				}).catch(error => {
					alert(getErrorMessage(error.response))
				}).then(() => {
					this.isAjxRequest = false;
				})
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/'+this.$route.params.type+'/post/comments')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		}
	},
	mounted(){
		let vm =this
		$.getScript('js/fn.js')
			.done(() => {
				vm.fetchData();
			})
	}
}
</script>