<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - {{$route.params.type}} post list <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="border-success float-right" @click="showForm(0)">Create Post</b-btn>
			</h6>			
			<div class="w-md-25 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="title" slot-scope="post">
					<a :href="post.item.url" target="_blank">{{post.item.title}}</a>
					<div>
						<small class="border p-1">{{post.item.category_name}}</small> &nbsp;
						<span><i class="fa fa-eye text-muted"></i> {{post.item.viewed}}</span>&nbsp;
						<span><i class="fa fa-thumbs-up text-muted"></i> {{post.item.liked}}</span>&nbsp;
						<span><i class="fa fa-thumbs-down text-muted"></i> {{post.item.disliked}}</span>&nbsp;
					</div>
				</template>
				<template slot="action" slot-scope="post">
					<b-btn size="sm" variant="outline-success" class="border-success" @click="put('Approve', 'approve', post.item)" v-show="post.item.status == 'pending'">Approve</b-btn>
					<b-btn size="sm" variant="outline-info" class="border-info" @click="put('Block', 'block', post.item)" v-show="post.item.status == 'approved'">Block</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-info" @click="put('Unblock', 'unblock', post.item)" v-show="post.item.status == 'block'">Unblock</b-btn>
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(post.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="put('Remove', 'trash', post.item)" v-show="!post.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="put('Restore', 'restore', post.item)" v-show="post.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(post.item)" v-show="post.item.deleted_at">Destroy</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal" size="xl" no-close-on-backdrop>
			<b-form @submit="onSubmit">
				<input type="hidden" v-model="form.id" name="id">
        <b-row>
          <b-col md="4">
            <b-form-group label="Title">
              <b-form-input type="text" v-model="form.title" name="title" required></b-form-input>            
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Slug">
              <b-form-input type="text" v-model="form.slug" name="slug" required></b-form-input>            
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group label="Category">
              <selectize v-model="form.category" :options="categories" required data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Category"></selectize>
            </b-form-group>
          </b-col>
        </b-row>
				<b-form-group>
					<b-form-textarea v-model="form.description" required id="description"></b-form-textarea>
				</b-form-group>
				<b-row>
					<b-col md="6">
						<b-form-group>
							<b-btn size="sm" variant="outline-secondary" class="border position-relative">
								Featured Image <i class="fa fa-camera"></i>
								<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" />
							</b-btn>
							<b-btn variant="outline-danger" size="sm" v-show="form.hero_image" @click="removeFile">
								<i class="fa fa-close"></i>
							</b-btn>
							<figure>
								<b-img fluid thumbnail id="post-hero-image" :src="form.hero_image"></b-img>
								<input type="hidden" v-model="form.hero_image">
							</figure>
						</b-form-group>
					</b-col>
				</b-row>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
    </b-modal>
	</div>
</template>

<style>
.file-uploader{
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
}
.mce-notification-warning {
  display: none;
}
</style>

<script>
import fileupload from 'blueimp-file-upload'
// import Editor from '@tinymce/tinymce-vue';

export default {
	/* components: {
		'editor': Editor
	}, */
  data () {
    return {
			isAjxRequest: false,
			items: [],
			currentPage: 1,
			perPage: 25,
			filter: '',
			slugKey: false,
			fields: {
				title:{},
				author:{thStyle: 'width: 10rem;'},
				status:{},
				posted_at:{thStyle: 'width: 8rem;'},
				action:{thStyle: 'width: 20rem;'}
			},
			formTitleModal: 'Create New Post',
			form: {
				id: 0,
        title: '',
        slug: '',
        category:'',
        description: '',
        hero_image:''
			},
      categories: [],
    }
  },
	methods: {
		put(info, action, post){
			if(confirm(info+' '+post.title+'?')){
				this.isAjxRequest = true;
				axios.put('api/'+this.$route.params.type+'/post/'+action+'/'+post.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(post){
			if(confirm('Remove '+post.title+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/'+this.$route.params.type+'/post/'+post.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
    showForm(post) {
			let vm = this
      this.form.title = '';
      this.form.slug = '';
      this.form.category = '';
      this.form.description = '';
			this.form.hero_image = '';
			tinymce.get('description').setContent('')
			tinymce.get('description').undoManager.clear()

			if(post != 0){
				this.formTitleModal = 'Edit '+post.title;
				this.form.id = post.id;
        this.form.title = post.title;
        this.form.category = post.category_id;
        this.form.description = post.description;
				this.form.hero_image = post.hero_image;

				setTimeout(function(){					
        	vm.form.slug = post.slug;
				}, 300)

				if(post.description != '' && post.description != null)
					tinymce.get('description').setContent(post.description)
			}

			this.$refs.modal.show()
			$('.modal-content').attr('tabindex', '')
    },
		onSubmit(evt){
			evt.preventDefault();
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			this.isAjxRequest = true;

			this.form.description = tinymce.get('description').getContent()

			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/'+this.$route.params.type+'/post':'api/'+this.$route.params.type+'/post/'+this.form.id,
				data: this.form
			}).then(response => {				
				this.fetchData();
				this.$refs.modal.hide()
			}).catch(error => {
				alert(getErrorMessage(error.response.data))
			})
			.then(() => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('i.fa-spinner').remove();
				this.isAjxRequest = false;
			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/'+this.$route.params.type+'/posts')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})
		},
		fetchDataCategory(){
			let vm = this;
			let _categories = [];		
			this.isAjxRequest = true;
			axios.get('api/'+this.$route.params.type+'/post/categories?active=true')
				.then(response => {
					this.categories = response.data
					response.data.forEach(function(item, i){
						_categories.push({text: item.name,	value: item.id});
					});
					vm.categories = _categories;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})
		},
    uploadFile(event){
			let $el = $(event.target);
			let vm = this;
			
      let uploader = $el.fileupload({
					url: 'post/hero/upload'
				});

      uploader.on('fileuploadstarted', function(evt){
				this.isAjxRequest = true;
			});

      uploader.on('fileuploaddone', function(evt, response){
				if(response.textStatus == 'success'){
					vm.form.hero_image = response.result.file;
				}
      });
      
      uploader.on('fileuploadfail', function(evt, response){
				alert(getErrorMessage(response.jqXHR))
			});
			
      uploader.on('fileuploadcompleted', function(evt){
				this.isAjxRequest = false;
			});
		},
		removeFile(){
			this.form.hero_image = '';
		}
	},
	watch:{
		'form.title'(val){
			this.form.slug = generateSlug(val)
		},
	},
	mounted(){
		let vm =this

		$.getScript('js/fn.js')
			.done(() => {
				_tinymce('#description')
				vm.fetchData();	
				vm.fetchDataCategory();
			})
	}
}
</script>