<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - University List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showFormImport">Import University</b-btn>
				<b-btn size="sm" variant="outline-success" class="float-right border-success mr-1" @click="showForm(0)">Add University</b-btn>
			</h6>
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" v-model="tableValues">
				<template slot="HEAD_check" slot-scope="service">
					<input type="checkbox" @click.stop="toggleService" v-model="allSelected">
				</template>
				<template slot="check" slot-scope="service">
					<input type="checkbox" :key="service.index" :value="service.item" @click.stop v-model="checkedItems">
				</template>
				<template slot="information" slot-scope="university">
					<div class="fs-4">
						<a :href="university.item.url" target="_blank">{{university.item.name}}</a>
						<small v-show="university.item.is_featured == 1" class="border p-1border p-1 fs-1 rounded text-muted bg-light">Featured</small>
					</div>
					<div><i class="fa fa-map-marker"></i> {{university.item.address}}</div>
				</template>
				<template slot="action" slot-scope="university">
					<b-btn size="sm" variant="outline-info" class="border-info" @click="showWeather(university.item)">Weather</b-btn>
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(university.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(university.item)" v-show="!university.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(university.item)" v-show="university.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(university.item)" v-show="university.item.deleted_at">Destroy</b-btn>
				</template>
			</b-table>
			<hr>
			<b-row>
				<b-col md="6" class="pl-3">
					<label class="mr-2">
						<input type="checkbox" @click.stop="toggleService" v-model="allSelected"> Check All
					</label>
					<b-select v-model="bulkAction" class="w-50" @change="actionSelect">
						<option value="">Select Action</option>
						<option value="remove">Remove Selected</option>
						<option value="destroy">Destroy Selected</option>
						<option value="restore">Restore Selected</option>
					</b-select> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				</b-col>
				<b-col md="6" class="text-center text-md-right">
					<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" @change="clearSelected" />
					<div class="text-center text-muted">Total {{items.length}} records</div>
				</b-col>
			</b-row>
		</b-card>
	
		<b-modal ref="modalForm" hide-footer :title="formTitleModal" size="xl" no-close-on-backdrop>
			<b-tabs v-model="tabIndex">

				<b-tab title="Details" active class="pt-3">
					<b-form @submit="onSubmit" :action="formDetail.action" :method="formDetail.method" name="formDetail" class="w-75 mx-auto">
						<input type="hidden" v-model="formDetail.id" name="id">
						<b-row>
							<b-col md="6" class="text-center">
								<figure class="mx-auto border w-75 h-75">
									<b-img id="logo" :src="formDetail.logo" class="mh-100 mw-100"></b-img>
									<input type="hidden" v-model="formDetail.logo">
								</figure>
								<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
									Logo <i class="fa fa-camera"></i>
									<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/logo" data-form="formDetail" data-form-object="logo" />
								</b-btn>
								<b-btn variant="outline-danger" size="sm" v-show="formDetail.logo" @click="removeFile" data-action="api/university/remove/logo" data-form="formDetail" data-form-object="logo">
									<i class="fa fa-close"></i>
								</b-btn>
								<i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
							</b-col>
							<b-col md="6">
								<b-form-group label="Name">
									<b-form-input type="text" v-model="formDetail.name" required></b-form-input>
								</b-form-group>
								<b-form-group label="Slug">
									<b-form-input type="text" v-model="formDetail.slug" required></b-form-input>
								</b-form-group>
								<b-form-group label="Address">
									<b-form-input type="text" v-model="formDetail.address" required></b-form-input>
								</b-form-group>
								<b-form-group label="Country">
									<selectize v-model="formDetail.country_code" :options="countries" required data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Country"></selectize>
								</b-form-group>
								<b-row>
									<b-col md="8">
										<b-form-group label="City">
											<b-form-input type="text" v-model="formDetail.city" required></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="Zip Code">
											<b-form-input type="text" v-model="formDetail.zip" required></b-form-input>
										</b-form-group>
									</b-col>
								</b-row>
								<b-row>
									<b-col md="4">
										<b-form-group label="Founding Year">
											<b-form-input type="number" min="1000" :max="maxYear" maxlength="4" v-model="formDetail.founding_year" required></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="3" class="pt-3">
										<b-form-group>
											<b-form-checkbox v-model="formDetail.is_public" value="1" unchecked-value="0">	Public</b-form-checkbox>
										</b-form-group>
									</b-col>
									<b-col md="5" class="pt-3">
										<b-form-group>
											<b-form-checkbox v-model="formDetail.is_featured" value="1" unchecked-value="0">Set As Featured</b-form-checkbox>
										</b-form-group>
									</b-col>
								</b-row>
							</b-col>
						</b-row>
						<b-form-group label="Description">
							<b-form-textarea v-model="formDetail.description" rows="3" required></b-form-textarea>
						</b-form-group>						
						<b-form-group>
							<b-form-checkbox v-model="formDetail.show_desc" value="1" unchecked-value="0">	Show Description To Public</b-form-checkbox>
						</b-form-group>
						<b-row>
							<b-col md="4">
								<b-form-group label="Website">
									<b-form-input type="text" v-model="formDetail.website" placeholder="https://website.com"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Facebook">
									<b-form-input type="text" v-model="formDetail.facebook" placeholder="https://facebook.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Twitter">
									<b-form-input type="text" v-model="formDetail.twitter" placeholder="https://twitter.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Youtube">
									<b-form-input type="text" v-model="formDetail.youtube" placeholder="https://youtube.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Linkedin">
									<b-form-input type="text" v-model="formDetail.linkedin" placeholder="https://linkedin.com/name"></b-form-input>
								</b-form-group>
							</b-col>
						</b-row>
            <b-form-group>
							<hr>
              <b-btn size="sm" variant="outline-secondary" class="border position-relative">
                Hero Image <i class="fa fa-camera"></i>
                <input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/hero" data-form="formDetail" data-form-object="hero_image" />
              </b-btn>
              <b-btn variant="outline-danger" size="sm" v-show="formDetail.hero_image" @click="removeFile" data-action="api/university/remove/hero" data-form="formDetail" data-form-object="hero_image">
                <i class="fa fa-close"></i>
              </b-btn>
							<i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
              <figure>
                <b-img fluid thumbnail id="hero-image" :src="formDetail.hero_image"></b-img>
                <input type="hidden" v-model="formDetail.hero_image">
              </figure>
            </b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<!-- <b-tab title="Majors" class="pt-3" :disabled="!formMajor.university_id">
					<b-form @submit="onSubmit" :action="formMajor.action" :method="formMajor.method" name="formMajor" class="w-75 mx-auto">
						<input type="hidden" v-model="formMajor.university_id">
						<b-form-group label="Undergraduate">
							<small class="text-muted">Enter undergraduate majors, separate by a new line</small>
							<b-form-textarea v-model="formMajor.undergraduate" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group label="MS">
							<small class="text-muted">Enter MS majors, separate by a new line</small>
							<b-form-textarea v-model="formMajor.ms" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group label="MBA">
							<small class="text-muted">Enter MBA majors, separate by a new line</small>
							<b-form-textarea v-model="formMajor.mba" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab> -->

				<b-tab title="Majors" class="pt-3" :disabled="!formSubject.university_id">
					<b-form @submit="onSubmit" :action="formSubject.action" :method="formSubject.method" name="formSubject">
						<input type="hidden" v-model="formSubject.university_id">
						<b-row>
							<b-col md="4">
								<b-form-group label="Undergraduate">
									<b-form-checkbox-group name="undergraduate" v-model="formSubject.undergraduate" class="border p-2" style="height:350px;overflow:auto;">
										<div v-for="(subject, i) in subjects" :key="i">
											<div v-if="subject.type.indexOf('undergraduate') >= 0" :class="{'text-danger': !isEmpty(subject.deleted_at)}" :title="isEmpty(subject.deleted_at)?'': subject.name+' - was trashed'">
												<b-form-checkbox :value="subject.id">{{subject.name}} <small v-show="subject.synonyms" class="text-muted">(<i>{{subject.synonyms}}</i>)</small>
												</b-form-checkbox>
											</div>
										</div>
									</b-form-checkbox-group>
								</b-form-group>
							</b-col>
							<b-col md="4">								
								<b-form-group label="MS">
									<b-form-checkbox-group name="ms" v-model="formSubject.ms" class="border p-2" style="height:350px;overflow:auto;">
										<div v-for="(subject, i) in subjects" :key="i">
											<div v-if="subject.type.indexOf('ms') >= 0" :class="{'text-danger': !isEmpty(subject.deleted_at)}" :title="isEmpty(subject.deleted_at)?'': subject.name+' - was trashed'">
												<b-form-checkbox :value="subject.id">{{subject.name}} <small v-show="subject.synonyms" class="text-muted">(<i>{{subject.synonyms}}</i>)</small>
												</b-form-checkbox>
											</div>
										</div>
									</b-form-checkbox-group>
								</b-form-group>
								</b-col>
							<b-col md="4">								
								<b-form-group label="MBA">
									<b-form-checkbox-group name="mba" v-model="formSubject.mba" class="border p-2" style="height:350px;overflow:auto;">
										<div v-for="(subject, i) in subjects" :key="i">
											<div v-if="subject.type.indexOf('mba') >= 0" :class="{'text-danger': !isEmpty(subject.deleted_at)}" :title="isEmpty(subject.deleted_at)?'': subject.name+' - was trashed'">
												<b-form-checkbox :value="subject.id">{{subject.name}} <small v-show="subject.synonyms" class="text-muted">(<i>{{subject.synonyms}}</i>)</small>
												</b-form-checkbox>
											</div>
										</div>
									</b-form-checkbox-group>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group class="text-center pt-3">							
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;		
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>				
				</b-tab>

				<b-tab title="Facilities" class="pt-3" :disabled="!formFacility.university_id">
					<b-form @submit="onSubmit" :action="formFacility.action" :method="formFacility.method" name="formFacility" class="w-75 mx-auto">
						<input type="hidden" v-model="formFacility.university_id">
						<b-form-group label="Infrastructure & General Facilities">
							<b-form-textarea v-model="formFacility.nearby_places" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group label="Accommodation (in the university campus)">
							<b-form-textarea v-model="formFacility.general" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group label="Accommodation (nearby the university campus)">
							<b-form-textarea v-model="formFacility.accomodation" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="After College" class="pt-3" :disabled="!formAfterCollage.university_id">
					<b-form @submit="onSubmit" :action="formAfterCollage.action" :method="formAfterCollage.method" name="formAfterCollage" class="w-75 mx-auto">
						<input type="hidden" v-model="formAfterCollage.university_id">
						<b-form-group label="Earning after graduations">
							<b-form-textarea v-model="formAfterCollage.earning" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group label="Placement Rate After Graduations">
							<b-input-group append="%" class="w-25">
							<b-form-input type="number" min="0" v-model="formAfterCollage.placement_rate"></b-form-input>
							</b-input-group>
						</b-form-group>
						<b-form-group label="Top Employees">
							<small class="text-muted">Enter Top Employees, separate by a new line to display this as a list</small>
							<b-form-textarea v-model="formAfterCollage.top_employees" rows="5"></b-form-textarea>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Alumnis" class="pt-3" :disabled="!formAlumnis.university_id">		
					<b-form @submit="onSubmit" :action="formAlumnis.action" :method="formAlumnis.method" name="formAlumnis" class="w-75 mx-auto">
						<input type="hidden" v-model="formAlumnis.university_id" name="formAlumnis">
						<b-form-group label="Alumni Group Website">
							<b-form-input type="url" v-model="formAlumnis.website" placeholder="https://websitegroup.com"></b-form-input>
						</b-form-group>
						<b-row>
							<b-col md="4">	
								<b-form-group label="Famous Alumnis Name">
									<b-form-input type="text" v-model="formAlumnis.famous_name1"></b-form-input>
								</b-form-group>
								<b-form-group>
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Photo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/avatar" data-form="formAlumnis" data-form-object="famous_photo1" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formAlumnis.famous_photo1" @click="removeFile" data-action="api/university/remove/avatar" data-form="formAlumnis" data-form-object="famous_photo1">
										<i class="fa fa-close"></i>
									</b-btn>
									<figure>
										<b-img fluid thumbnail :src="formAlumnis.famous_photo1" class="mh-100"></b-img>
										<input type="hidden" v-model="formAlumnis.famous_photo1">
									</figure>
								</b-form-group>
							</b-col>
							<b-col md="4">	
								<b-form-group label="Famous Alumnis Name">
									<b-form-input type="text" v-model="formAlumnis.famous_name2"></b-form-input>
								</b-form-group>		
								<b-form-group>	
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Photo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/avatar" data-form="formAlumnis" data-form-object="famous_photo2" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formAlumnis.famous_photo2" @click="removeFile" data-action="api/university/remove/avatar" data-form="formAlumnis" data-form-object="famous_photo2">
										<i class="fa fa-close"></i>
									</b-btn>
									<figure>
										<b-img fluid thumbnail id="logo" :src="formAlumnis.famous_photo2" class="mh-100"></b-img>
										<input type="hidden" v-model="formAlumnis.famous_photo2">
									</figure>
								</b-form-group>		
							</b-col>
							<b-col md="4">	
								<b-form-group label="Famous Alumnis Name">
									<b-form-input type="text" v-model="formAlumnis.famous_name3"></b-form-input>
								</b-form-group>			
								<b-form-group>	
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Photo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/avatar" data-form="formAlumnis" data-form-object="famous_photo3" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formAlumnis.famous_photo3" @click="removeFile" data-action="api/university/remove/avatar" data-form="formAlumnis" data-form-object="famous_photo3">
										<i class="fa fa-close"></i>
									</b-btn>						
									<figure class="">
										<b-img fluid thumbnail id="logo" :src="formAlumnis.famous_photo3" class="mh-100"></b-img>
										<input type="hidden" v-model="formAlumnis.famous_photo3">
									</figure>
								</b-form-group>			
							</b-col>
							<b-col md="4">	
								<b-form-group label="Famous Alumnis Name">
									<b-form-input type="text" v-model="formAlumnis.famous_name4"></b-form-input>
								</b-form-group>			
								<b-form-group>	
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Photo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/avatar" data-form="formAlumnis" data-form-object="famous_photo4" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formAlumnis.famous_photo4" @click="removeFile" data-action="api/university/remove/avatar" data-form="formAlumnis" data-form-object="famous_photo4">
										<i class="fa fa-close"></i>
									</b-btn>						
									<figure class="">
										<b-img fluid thumbnail id="logo" :src="formAlumnis.famous_photo4" class="mh-100"></b-img>
										<input type="hidden" v-model="formAlumnis.famous_photo4">
									</figure>
								</b-form-group>			
							</b-col>
							<b-col md="4">	
								<b-form-group label="Famous Alumnis Name">
									<b-form-input type="text" v-model="formAlumnis.famous_name5"></b-form-input>
								</b-form-group>			
								<b-form-group>	
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Photo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/university/upload/avatar" data-form="formAlumnis" data-form-object="famous_photo5" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formAlumnis.famous_photo5" @click="removeFile" data-action="api/university/remove/avatar" data-form="formAlumnis" data-form-object="famous_photo5">
										<i class="fa fa-close"></i>
									</b-btn>						
									<figure class="">
										<b-img fluid thumbnail id="logo" :src="formAlumnis.famous_photo5" class="mh-100"></b-img>
										<input type="hidden" v-model="formAlumnis.famous_photo5">
									</figure>
								</b-form-group>			
							</b-col>
						</b-row>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Admissions" class="pt-3" :disabled="!formAdmission.university_id">					
					<b-form @submit="onSubmit" :action="formAdmission.action" :method="formAdmission.method" name="formAdmission" class="w-75 mx-auto">
						<input type="hidden" v-model="formAdmission.university_id">
						<b-list-group>
							<b-list-group-item href="#" v-for="(program, i) in formAdmission.programs" :key="i" :class="{'border-right-secondary': !formAdmission.programs[i].isEmpty}">
								<b-row>
									<p class="font-weight-bold w-100 px-2">{{program.program_name}}</p>
									<input type="hidden" v-model="program.program_id">
									<b-col md="4">
										<b-form-group label="Undergraduate">
											<div v-if="program.program_id == appDeadline">
												<b-form-textarea v-model="program.undergraduate" rows="3"></b-form-textarea>
											</div>
											<div v-else>
												<b-form-input type="text" v-model="program.undergraduate" ></b-form-input>
											</div>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MS">
											<div v-if="program.program_id == appDeadline">
												<b-form-textarea v-model="program.ms" rows="3"></b-form-textarea>
											</div>
											<div v-else>
												<b-form-input type="text" v-model="program.ms" ></b-form-input>
											</div>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MBA">
											<div v-if="program.program_id == appDeadline">
												<b-form-textarea v-model="program.mba" rows="3"></b-form-textarea>
											</div>
											<div v-else>
												<b-form-input type="text" v-model="program.mba" ></b-form-input>
											</div>
										</b-form-group> 
									</b-col>
								</b-row>
							</b-list-group-item>
						</b-list-group>
						<b-form-group class="text-center pt-3">
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Cost Of Attendance" class="pt-3" :disabled="!formCost.university_id">
					<b-form @submit="onSubmit" :action="formCost.action" :method="formCost.method" name="formCost" class="w-75 mx-auto">
						<input type="hidden" v-model="formCost.university_id">
						<b-list-group>
							<b-list-group-item href="#" v-for="(program, i) in formCost.programs" :key="i" :class="{'border-right-secondary': !formCost.programs[i].isEmpty}">
								<b-row>
									<p class="font-weight-bold w-100 px-2">{{program.program_name}}</p>
									<input type="hidden" v-model="formCost.programs[i].program_id">
									<b-col md="4">
										<b-form-group label="Undergraduate">
											<b-form-input type="text" v-model="formCost.programs[i].undergraduate" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MS">
											<b-form-input type="text" v-model="formCost.programs[i].ms" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MBA">
											<b-form-input type="text" v-model="formCost.programs[i].mba" ></b-form-input>
										</b-form-group> 
									</b-col>
								</b-row>
							</b-list-group-item>
						</b-list-group>
						<b-form-group class="text-center pt-3">
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Rangking" class="pt-3" :disabled="!formRangking.university_id">
					<b-form @submit="onSubmit" :action="formRangking.action" :method="formRangking.method" name="formRangking" class="w-75 mx-auto">
						<input type="hidden" v-model="formRangking.university_id">
						<b-list-group>
							<b-list-group-item href="#" v-for="(program, i) in formRangking.programs" :key="i" :class="{'border-right-secondary': !formRangking.programs[i].isEmpty}">
								<b-row>
									<p class="font-weight-bold w-100 px-2">{{program.program_name}}</p>
									<input type="hidden" v-model="formRangking.programs[i].program_id">
									<b-col md="4">
										<b-form-group label="Undergraduate">
											<b-form-input type="text" v-model="formRangking.programs[i].undergraduate" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MS">
											<b-form-input type="text" v-model="formRangking.programs[i].ms" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MBA">
											<b-form-input type="text" v-model="formRangking.programs[i].mba" ></b-form-input>
										</b-form-group> 
									</b-col>
								</b-row>
							</b-list-group-item>
						</b-list-group>
						<b-form-group class="text-center pt-3">
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Students" class="pt-3" :disabled="!formStudent.university_id">
					<b-form @submit="onSubmit" :action="formStudent.action" :method="formStudent.method" name="formStudent" class="w-75 mx-auto">
						<input type="hidden" v-model="formStudent.university_id">
						<b-list-group>
							<b-list-group-item href="#" v-for="(program, i) in formStudent.programs" :key="i" :class="{'border-right-secondary': !formStudent.programs[i].isEmpty}">
								<b-row>
									<p class="font-weight-bold w-100 px-2">{{program.program_name}}</p>
									<input type="hidden" v-model="formStudent.programs[i].program_id">
									<b-col md="4">
										<b-form-group label="Undergraduate">
											<b-form-input type="text" v-model="formStudent.programs[i].undergraduate" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MS">
											<b-form-input type="text" v-model="formStudent.programs[i].ms" ></b-form-input>
										</b-form-group>
									</b-col>
									<b-col md="4">
										<b-form-group label="MBA">
											<b-form-input type="text" v-model="formStudent.programs[i].mba" ></b-form-input>
										</b-form-group> 
									</b-col>
								</b-row>
							</b-list-group-item>
						</b-list-group>
						<b-form-group class="text-center pt-3">
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

			</b-tabs>
    </b-modal>

		<b-modal ref="modalWeather" hide-footer :title="weatherTitleModal" size="lg">
			<canvas id="chart"></canvas>
			<br>
			<i class="text-muted">P.S: The weathers is depends on the zip code and country only</i>
		</b-modal>

		<b-modal ref="modalExcel" hide-footer title="Import University data from excel file" no-close-on-backdrop>
			<div class="upload-container">				
				<b-btn size="sm" variant="outline-success" class="border position-relative mb-1">
					Choose excel file <i class="fa fa-excel-o"></i>
					<input type="file" name="file" multiple accept=".xlsx, .xls" class="file-uploader" @click="uploadFile" data-action="api/university/upload/excel" data-form="formImport" data-form-object="files"/>
				</b-btn> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-form @submit="onSubmit" action="api/university/import" method="post" name="formImport">
					<div style="overflow-x:auto;">
						<div v-for="(file, i) in formImport.files" :key="i">
							<b-btn size="sm" variant="outline-danger" @click="removeFile" data-action="api/university/remove/excel" :data-file="file" data-form="formImport" data-form-object="files">
								<i class="fa fa-remove"></i>
							</b-btn>{{file.replace('files/excel/', '')}}
						</div>
					</div>
					<hr>
					<div class="text-center">
						<b-btn variant="success" id="btn-import" type="submit">Import</b-btn>
					</div>
				</b-form>
			</div>
		</b-modal>
	</div>
</template>

<style>
.file-uploader{
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
}
</style>

<script>
import fileupload from 'blueimp-file-upload'

export default {
  data () {
    return {
			tabIndex: 0,
			admissionId: 1,
			appDeadline: 3,
			costAttendanceId: 11,
			rangkingId: 15,
			studentId: 19,
			isAjxRequest: false,
			maxYear: 0,
			currentPage: 1,
			perPage: 10,
			filter: '',
			items: [],
			subjects: [],
			countries: [],
			fields:{
				check:{},
				information:{},
				action:{thStyle: 'width: 23rem;'}
			},
			tableValues: [],
			allSelected: false,
			checkedItems: [],
			bulkAction: '',
			formTitleModal: 'Add University',
			weatherTitleModal: 'Average Weather',
			formDetail: {
				action: 'api/university',
				method: 'post',
				id: 0,
				name: '',
				slug: '',
				address: '',
				country_code: '',
				city: '',
				zip: '',
				website: '',
				map_address: '',
				is_public: 1,
				is_featured: 0,
				founding_year: '',
				description: '',
				show_desc: 1,
				facebook: '',
				twitter: '',
				youtube: '',
				linkedin: '',
				logo: '',
				hero_image: '',
			},
			/* formMajor:{
				action: 'api/university/majors',
				method: 'post',
				university_id: 0,
				undergraduate: '',
				ms: '',
				mba: '',
			}, */
			formFacility:{
				action: 'api/university/facilities',
				method: 'post',
				university_id: 0,
				general: '',
				nearby_places: '',
				accomodation: '',
			},
			formAfterCollage: {
				action: 'api/university/after-collages',
				method: 'post',
				university_id: 0,
				earning: '',
				placement_rate: 0,
				top_employees: ''
			},
			formAlumnis: {
				university_id: 0,
				website: '',
				action: 'api/university/alumnis',
				method: 'post',
				famous_name1: '',
				famous_photo1: 'test',
				famous_name2: '',
				famous_photo2: '',
				famous_name3: '',
				famous_photo3: '',
				famous_name4: '',
				famous_photo4: '',
				famous_name5: '',
				famous_photo5: '',
			},
			formAdmission:{
				action: 'api/university/programs',
				method: 'post',
				university_id: 0,
				programs: []
			},
			formCost:{
				action: 'api/university/programs',
				method: 'post',
				university_id: 0,
				programs: []
			},
			formRangking:{
				action: 'api/university/programs',
				method: 'post',
				university_id: 0,
				programs: []
			},
			formStudent:{
				action: 'api/university/programs',
				method: 'post',
				university_id: 0,
				programs: []
			},
			formSubject: {
				action: 'api/university/subject',
				method: 'post',
				university_id: 0,
				undergraduate: [],
				ms: [],
				mba: []
			},
			formImport: {
				files: []
			}
    }
	},
	methods: {
		remove(university){
			if(confirm('Remove '+university.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/university/trash/'+university.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(university){
			if(confirm('Restore '+university.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/university/restore/'+university.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(university){
			if(confirm('Remove '+university.name+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/university/'+university.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		uploadFile(event){
			let $el = $(event.target);
			let $container = $el.parents('.upload-container')
			let vm = this;

      let uploader = $el.fileupload({
				url: $el.data('action')
			})
			.on('fileuploadprogressall', function (e, data){
        let progress = parseInt(data.loaded / data.total * 100, 10);
				vm.isAjxRequest = (progress < 100)
			})
			.on('fileuploaddone', function(evt, response){
				if(response.textStatus == 'success'){
					if($el.data('form') == 'formImport')
						vm[$el.data('form')][$el.data('form-object')].push(response.result.file)
					else
						vm[$el.data('form')][$el.data('form-object')] = response.result.file;
					
				}
      })
      .on('fileuploadfail', function(evt, response){
				alert(getErrorMessage(response.jqXHR))
			});
		},
		removeFile(event){
			let $el = $(event.target);
			let vm = this
			$el = ($el.is('button') == false)? $el.parents('button') : $el;

			if(confirm('Remove this file?')){
				this.isAjxRequest = true;
				let data = vm[$el.data('form')][$el.data('form-object')]
				let file = $el.data('file')

				axios.delete($el.data('action'), {params: {file: file}})
					.then((response) => {
						if(typeof data == 'string')
							data = null;

						else if(typeof data == 'object'){
							data = data.filter(function(item){ return item !== file })
						}
						
					}).catch(function(error){
						alert(getErrorMessage(error.response))

					}).then(function(){
						vm.isAjxRequest = false;
						vm[$el.data('form')][$el.data('form-object')] = data
					})
			}
		},
    showForm(university) {
			let vm = this
			this.tabIndex = 0
			if(university == 0){
				this.resetData('formDetail')
				// this.resetData('formMajor')
				this.resetData('formFacility')
				this.resetData('formAlumnis')
				this.resetData('formAfterCollage')
				this.resetData('formSubject')

				this.fetchDataProgramSubategories(this.admissionId, 'formAdmission')
				this.fetchDataProgramSubategories(this.costAttendanceId, 'formCost')
				this.fetchDataProgramSubategories(this.rangkingId, 'formRangking')
				this.fetchDataProgramSubategories(this.studentId, 'formStudent')

			}else{
				this.formTitleModal = 'Edit '+university.name;
				this.formDetail.id = university.id;
				this.formDetail.name = university.name;
				this.formDetail.slug = university.slug;
				this.formDetail.address = university.address;
				this.formDetail.country_code = university.country_code;
				this.formDetail.city = university.city;
				this.formDetail.zip = university.zip;
				this.formDetail.website = university.website;
				this.formDetail.map_address = university.map_address;
				this.formDetail.is_public = university.is_public;
				this.formDetail.is_featured = university.is_featured;
				this.formDetail.founding_year = university.founding_year;
				this.formDetail.description = university.description;
				this.formDetail.show_desc = university.show_desc;
				this.formDetail.facebook = university.facebook;
				this.formDetail.twitter = university.twitter;
				this.formDetail.youtube = university.youtube;
				this.formDetail.linkedin = university.linkedin;
				this.formDetail.logo = university.logo;
				this.formDetail.hero_image = university.hero_image;
				this.formDetail.action = 'api/university/'+this.formDetail.id
				this.formDetail.method = 'put'

				setTimeout(function(){					
        	vm.formDetail.slug = university.slug;
				}, 300)

				// this.formMajor.university_id = university.id;
				this.formFacility.university_id = university.id;
				this.formAfterCollage.university_id = university.id;
				this.formAlumnis.university_id = university.id;
				this.formAdmission.university_id = university.id;
				this.formCost.university_id = university.id;
				this.formRangking.university_id = university.id;
				this.formStudent.university_id = university.id;
				this.formSubject.university_id = university.id;

				// this.fetchDataMajor(university)
				this.fetchDataFacility(university)
				this.fetchDataAfterCollage(university)
				this.fetchDataAlumnis(university)
				this.fetchDataUniversitySubject(university)
				this.fetchDataProgram(university, 'formAdmission', this.admissionId)
				this.fetchDataProgram(university, 'formCost', this.costAttendanceId)
				this.fetchDataProgram(university, 'formRangking', this.rangkingId)
				this.fetchDataProgram(university, 'formStudent', this.studentId)
			}

			this.$refs.modalForm.show()
			setTimeout(function(){
				$('.modal-content').removeAttr('tabindex');
			}, 700)
		},
		hideForm(){
			this.$refs.modalForm.hide()
		},
		showFormImport(event){
			$(event.target).find('input').val('');
			this.$refs.modalExcel.show();
		},
		showWeather(university){
			axios.get('api/weathers/'+university.country_code+'/'+university.zip)
				.then(response => {
					let $el = document.getElementById('chart');
					let $chart = new Chart($el, {
						type: 'bar',
						data: {
							labels: response.data.label,
							datasets: [{
								label: 'Low',
								data: response.data.tempMin,
								backgroundColor: '#66669a',
								borderWidth: 1
							},{
								label: 'High',
								data: response.data.tempMax,
								backgroundColor: '#7288eb',
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								xAxes: [{stacked: true}],
								yAxes: [{stacked: true}]
							},
							legend: {position: 'left'}
						}
					})

					this.weatherTitleModal = 'Average weathers in '+university.country+' '+university.zip
					this.$refs.modalWeather.show()
				})
		},
		onSubmit(evt){
			evt.preventDefault();
			let $form = $(evt.target);
			let isSuccess = true
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let $btnSubmit = $form.find('button:submit')
			
			$btnSubmit.append(_spinner);
			$form.find('button, input').prop('disabled', true)
			this.isAjxRequest = true;
			
			axios({
				method: $form.attr('method'),
				url: $form.attr('action'),
				data: this[$form.attr('name')]
			}).then(response => {
				if($form.attr('name') == 'formDetail'){
					if($form.attr('method') == 'post'){
						// this.formMajor.university_id = response.data.university.id
						this.formSubject.university_id = response.data.university.id
						this.formFacility.university_id = response.data.university.id
						this.formAfterCollage.university_id = response.data.university.id
						this.formAlumnis.university_id = response.data.university.id
						this.formAdmission.university_id = response.data.university.id
						this.formCost.university_id = response.data.university.id
						this.formRangking.university_id = response.data.university.id
						this.formStudent.university_id = response.data.university.id
					}
				}else if($form.attr('name') == 'formImport'){
					this.resetData($form.attr('name'))
				}

				if(typeof response.data.errors != 'undefined')
					alert(getErrorMessage(response.data))
				else
					alert('Data has been saved')

			}).catch((error) => {
				alert(getErrorMessage(error.response.data))
				isSuccess = false
			})
			.then(() => {
				$btnSubmit.find('i.fa-spinner').remove();
				$form.find('button, input').prop('disabled', false)
				this.isAjxRequest = false;
				if(isSuccess) this.fetchData();

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/universities')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		/* fetchDataMajor(university){
			this.isAjxRequest = true;
			axios.get('api/university/'+university.id+'/majors')
				.then(response => {
					this.formMajor.undergraduate = response.data.undergraduate;					
					this.formMajor.ms = response.data.ms;					
					this.formMajor.mba = response.data.mba;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		}, */
		fetchDataFacility(university){
			this.isAjxRequest = true;
			axios.get('api/university/'+university.id+'/facilities')
				.then(response => {
					if(response){
						this.formFacility.general = response.data.general;					
						this.formFacility.nearby_places = response.data.nearby_places;					
						this.formFacility.accomodation = response.data.accomodation;
					}else{
						this.resetData('formFacility')
					}
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataAfterCollage(university){
			this.isAjxRequest = true;
			axios.get('api/university/'+university.id+'/after-collages')
				.then(response => {
					if(response){
						this.formAfterCollage.earning = response.data.earning;					
						this.formAfterCollage.placement_rate = response.data.placement_rate;					
						this.formAfterCollage.top_employees = response.data.top_employees;
					}else{
						this.resetData('formAfterCollage')
					}
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataAlumnis(university){
			this.isAjxRequest = true;
			axios.get('api/university/'+university.id+'/alumnis')
				.then(response => {
					if(response){
							this.formAlumnis.website = response.data.website;					
							this.formAlumnis.famous_name1 = response.data.famous_name1;
							this.formAlumnis.famous_photo1 = response.data.famous_photo1;
							this.formAlumnis.famous_name2 = response.data.famous_name2;
							this.formAlumnis.famous_photo2 = response.data.famous_photo2;
							this.formAlumnis.famous_name3 = response.data.famous_name3;
							this.formAlumnis.famous_photo3 = response.data.famous_photo3;
							this.formAlumnis.famous_name4 = response.data.famous_name4;
							this.formAlumnis.famous_photo4 = response.data.famous_photo4;
							this.formAlumnis.famous_name5 = response.data.famous_name5;
							this.formAlumnis.famous_photo5 = response.data.famous_photo5;
					}else{
						this.resetData('formAfterCollage')
					}
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataProgram(university, form, categoryId){
			let vm = this
			vm.isAjxRequest = true;
			this.resetData(form)

			axios.get('api/university/'+university.id+'/program/'+categoryId)
				.then(response => {
					vm[form].action = 'api/university/programs/'+categoryId;

					if(response.data.length){
						$.each(response.data, (i, item) => {
							vm[form].programs.push({
								program_id: item.program_id,
								program_name: item.program_name,
								undergraduate: item.undergraduate,
								ms: item.ms,
								mba: item.mba,
								isEmpty: item.isEmpty,
								isTrashed: item.isTrashed
							})
						})
					}else{
						this.fetchDataProgramSubategories(categoryId, form)
					}
				}).catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
					vm[form].university_id = university.id
				})
		},
		fetchDataProgramSubategories(id, form){
			let vm = this
			vm.isAjxRequest = true;
			this.resetData(form)

			axios.get('api/university/programs/'+id)
				.then(response => {					
					$.each(response.data, (i, item) => {
						vm[form].programs.push({
							program_id: item.id,
							program_name: item.name,
							undergraduate: '',
							ms: '',
							mba: '',
							isEmpty: true,
							isTrashed: false
						})
					})
				}).catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataUniversitySubject(university){
			this.isAjxRequest = true;
			axios.get('api/university/'+university.id+'/subjects')
				.then(response => {
					this.formSubject.undergraduate = response.data.undergraduate;					
					this.formSubject.ms = response.data.ms;					
					this.formSubject.mba = response.data.mba;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataCountry(){
			let vm = this;
			let _countries = [];		
			axios.get('api/countries')
				.then(response => {					
					response.data.forEach((item, i) => {
						_countries.push({text: item.name,	value: item.code});
					});
					vm.countries = _countries;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		fetchDataSubject(){
			let vm = this;
			let _subject = [];		
			axios.get('api/subjects')
				.then(response => {
					this.subjects = response.data
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		resetData(data){
			$.each(this[data], (item, value) => {
				if(item == 'action' || item == 'method') return
				if(typeof value == 'number') this[data][item] = 0
				else if(typeof value == 'string') this[data][item] = null
				else if(typeof value == 'object') this[data][item] = []
			})
		},
		toggleService(){
			this.allSelected = this.allSelected ? false: true;
			this.checkedItems = this.allSelected ? this.tableValues : [];
		},
		clearSelected(){
			this.allSelected = false;
			this.checkedItems = [];
		},
		actionSelect(){
			let vm = this
			
			setTimeout(function(){
				let totalItems = vm.checkedItems.length;
				let universityIds = [];

				if(totalItems > 0 && vm.bulkAction != ''){
					if(confirm(vm.bulkAction+' this '+totalItems+' items?')){
						$.each(vm.checkedItems, function(i, object){
							universityIds.push(object.id)
						})

						if(universityIds.length){
							$('table').find('button, input').prop('disabled', true)
							vm.isAjxRequest = true
							axios.post('api/universities/'+vm.bulkAction, {universityIds: universityIds})
								.then(response =>{
									alert(response.data.message)
									vm.fetchData();
									vm.checkedItems = [];

								}).catch(error => {
									alert(getErrorMessage(error.response.data))

								}).then(() => {
									vm.isAjxRequest = false
									vm.bulkAction = ''
									$('table').find('button, input').prop('disabled', false)
								})
						}
					}
				}
			}, 500)
		},
		isEmpty: function(data){
			return (data == null || data == '')
		}
	},
	watch:{
		'formDetail.name'(val){
				this.formDetail.slug = generateSlug(val)
		},
		checkedItems(val){
			this.allSelected = (this.tableValues.length === val.length) ? true : false;
		},
	},
	mounted(){
		let vm = this
		let date = new Date();
		this.maxYear = date.getFullYear() - 1;

		$.getScript('js/fn.js')
			.done(() => {
				vm.fetchData();
				vm.fetchDataCountry();
				vm.fetchDataSubject();
				
				$.getScript('vendor/chart.js/dist/Chart.min.js')
			})
	} 
}
</script>