<template>
	<div class="w-md-75 mx-auto">
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - University Program Category List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showForm(0)">Add Category</b-btn>
			</h6>	
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="name" slot-scope="category">
					<span :class="{'font-weight-bold': category.item.parent_id == 0, 'pl-2': category.item.parent_id != 0}"> 
						{{category.item.name}}</span>
				</template>
				<template slot="action" slot-scope="category">
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(category.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(category.item)" v-show="!category.item.deleted_at && category.item.parent_id != 0">Deactivate</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(category.item)" v-show="category.item.deleted_at">Activate</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal">
			<b-form @submit="onSubmit">
				<input type="hidden" v-model="form.id" name="id">
				<b-form-group label="Parent">
					<selectize v-model="form.parent_id" :options="categories" :disabled="form.parent_id === 0" data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Category"></selectize>
				</b-form-group>
				<b-form-group label="Name">
					<b-form-input type="text" v-model="form.name" required></b-form-input>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
    </b-modal>
	</div>
</template>

<script>
export default {
  data () {
    return {
			isAjxRequest: false,
			currentPage: 1,
			perPage: 10,
			filter: null,
			items: [],
			categories: [],
			fields: {
				name: {},
				action:{thStyle: 'width: 15rem;'} 
			},
			formTitleModal: 'Add Category',
			form: {
				id: 0,
				parent_id: '',
				name: '',
			}
    }
  },
	methods: {
		remove(category){
			if(confirm('Deactivate '+category.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/university/program/category/trash/'+category.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(category){
			if(confirm('Activate '+category.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/university/program/category/restore/'+category.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		/* destroy(category){
			if(confirm('Remove '+category.name+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/university/program/category/'+category.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		}, */
    showForm(category) {
			this.form.parent_id = '';
			this.form.name = '';
			
			if(category != 0){
				this.formTitleModal = 'Edit '+category.name;
				this.form.id = category.id;
				this.form.parent_id = category.parent_id;
				this.form.name = category.name;
			}
      this.$refs.modal.show()
    },
		onSubmit(evt){
			evt.preventDefault();
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			this.isAjxRequest = true;
			
			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/university/program/category':'api/university/program/category/'+this.form.id,
				data: this.form
			}).then(response => {				
				this.fetchData();
				this.$refs.modal.hide()
			}).catch(error => {
				alert(getErrorMessage(error.response))
			})
			.then(() => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('i.fa-spinner').remove();
				this.isAjxRequest = false;

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/university/programs')
				.then(response => {
					this.items = response.data;					
					return items;
				}).catch(error => {
					if(error.response != undefined)
						alert(getErrorMessage(error.response))
					
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataParent(){
			let vm = this;
			let _categories = [];		
			this.isAjxRequest = true;
			axios.get('api/university/programs/0')
				.then(response => {					
					response.data.forEach(function(item, i){
						_categories.push({text: item.name,	value: item.id});
					});
					vm.categories = _categories;
				}).catch(error => {
					getErrorMessage(error.response)
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})
		}
	},
	mounted(){
		let vm = this
		$.getScript('js/fn.js')
			.done(() => {
				vm.fetchData();
				vm.fetchDataParent();
			})
	}
}
</script>