<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - University Review List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showForm(0)">Add Review</b-btn>
			</h6>	
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="reviews" slot-scope="review">
					<p>
						<span class="text-secondary">{{review.item.name}}</span> to 
						<a :href="review.item.university_url" target="_blank">{{review.item.university_name}}</a><br>
						<span class="text-muted">{{review.item.review_at}}</span> 
						<i class="fa fa-star text-warning" v-for="(rate, i) in parseInt(review.item.rate)" :key="i"></i> 
						<i class="fa fa-star-o text-warning" v-for="(rate, i) in (5 - parseInt(review.item.rate))" :key="i"></i>
					</p>
					<p>{{review.item.description}}</p>
				</template>
				<template slot="action" slot-scope="review">
					<span v-show="review.item.is_approved == 1">Approved </span>
					<b-btn size="sm" variant="outline-success" class="border-success" v-show="review.item.is_approved == 0" @click="aprove(review.item)"> Approve</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="showForm(review.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(review.item)"> Destroy</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal" no-close-on-backdrop>
			<b-form @submit="onSubmit">
				<input type="hidden" v-model="form.id" name="id">
				<b-row>
					<b-col md="8">
						<b-form-group label="Name">
							<b-form-input type="text" v-model="form.name" required></b-form-input>
						</b-form-group>
					</b-col>
					<b-col md="4">
						<b-form-group label="Rate">
							<b-form-select v-model="form.rate" :options="rating" required class="rating" />
						</b-form-group>
					</b-col>
				</b-row>
				<b-form-group label="University">
					<selectize v-model="form.university_id" :options="universities" required data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select University"></selectize>
				</b-form-group>
				<b-form-group label="Description">
					<b-form-textarea v-model="form.description" required rows="3"></b-form-textarea>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
    </b-modal>
	</div>
</template>

<script>
import rating from 'jquery-bar-rating'

export default {
  data () {
    return {
			isAjxRequest: false,
			currentPage: 1,
			perPage: 25,
			filter: '',
			items: [],
			fields: {				
				reviews:{},
				action:{thStyle: 'width: 18rem;'}
			},
			formTitleModal: 'Add Review',
			rating:[
				{ value: 1, text: '1' },
				{ value: 2, text: '2' },
				{ value: 3, text: '3' },
				{ value: 4, text: '4' },
				{ value: 5, text: '5' },
			],
			universities: [],
			form: {
				id: 0,
				name: '',
				rate: 1,
				is_approved: 1,
				university_id: 0,
				description: '',
			}
    }
  },
	methods: {
		destroy(review){
			if(confirm('Remove review from '+review.name+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/university/review/'+review.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		aprove(review){
			if(confirm('Approve this review?')){
				this.isAjxRequest = true;
				axios.put('api/university/review/'+review.id+'/approved')
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
    showForm(review) {
			this.form.id = 0
			this.form.name = ''
			this.form.rate = 1
			this.form.is_approved = 1
			this.form.university_id = 0
			this.form.description = null
			
			if(review != 0){
				this.formTitleModal = 'Edit review from '+review.name;
				this.form.id = review.id;
				this.form.name = review.name;
				this.form.rate = review.rate
				this.form.is_approved = review.is_approved
				this.form.university_id = review.university_id
				this.form.description = review.description

			}

			$('select.rating').barrating('set', this.form.rate);
			this.$refs.modal.show()
			setTimeout(function(){
				$('.modal-content').removeAttr('tabindex');
			}, 700)
    },
		onSubmit(evt){
			evt.preventDefault();
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			this.isAjxRequest = true;
			
			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/university/review':'api/university/review/'+this.form.id,
				data: this.form
			}).then(response => {				
				this.fetchData();
				this.$refs.modal.hide()
			}).catch(error => {
				alert(getErrorMessage(error.response.data))
			})
			.then(() => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('i.fa-spinner').remove();
				this.isAjxRequest = false;

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/university/reviews')
				.then(response => {
					this.items = response.data;

				}).catch(error => {
					alert(getErrorMessage(error.response))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataUniversity(){
			this.isAjxRequest = true;
			axios.get('api/universities')
				.then(response => {					
					response.data.forEach((item, i) => {
						_universities.push({value: item.id, text: item.name})
					})
					
					this.universities = _universities

				}).catch(error => {
					getErrorMessage(error.response)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})	
		},
	},
	mounted(){
		let vm = this		
		$('select.rating').barrating({
			theme: 'fontawesome-stars',
			onSelect: (val, text, evt) =>{
				vm.form.rate = val
			}
		})

		$.getScript('js/fn.js')
		.done(() => {
			vm.fetchData();
			vm.fetchDataUniversity()
		})
	}
}
</script>