<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - University Subject List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showForm(0)">Add Subject</b-btn>
			</h6>	
			<div class="w-md-25 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="name" slot-scope="subject">
					<div class="font-weight-bold">
						{{subject.item.name}}
						<small v-show="subject.item.is_featured == 1" class="border text-muted p-1 rounded">Featured</small>
					</div>
					<div>
						<small>Synonims: <i>{{subject.item.synonyms}}</i></small> 
						<!-- <small v-if="subject.item.synonyms == null">-</small><small class="border p-1 mr-1 ts-1 border-success text-success rounded" v-else v-for="(synonim, i) in subject.item.synonyms.split(',')" :key="i">{{synonim}}</small> -->
					</div>
					<small class="text-muted"><i>Used by <span class="font-weight-bold">{{subject.item.total_universities}}</span> universities</i></small>
				</template>
				<template slot="type" slot-scope="subject">
					<label class="border p-1 rounded mr-1 fs-1 text-muted" v-for="(type, i) in subject.item.type" :key="i">
						{{type}}
					</label>
				</template>
				<template slot="HEAD_sort" slot-scope="subject">
					<b-btn size="sm" variant="light" class="border w-100" @click="fetchData" id="btn-sort">Sort <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i></b-btn>
				</template>
				<template slot="sort" slot-scope="subject">
					<b-input type="number" min="0" :id="'subject-sort-'+subject.item.id" v-model="subject.item.sort" @blur.native="updateShortNumber(subject.item)"></b-input>
				</template>
				<template slot="action" slot-scope="subject">
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(subject.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(subject.item)" v-show="!subject.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(subject.item)" v-show="subject.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(subject.item)" v-show="subject.item.deleted_at">Destroy</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal">
			<b-form @submit="onSubmit">
				<b-form-group label="Name">
					<b-form-input type="text" v-model="form.name"></b-form-input>
				</b-form-group>
				<b-form-group label="Synonyms">
					<small class="text-muted"><i>* Add synonyms for the Subject name. Separated by comma (,)</i></small>
					<b-form-input type="text" v-model="form.synonyms"></b-form-input>
				</b-form-group>
				<b-form-group>
					<b-form-checkbox v-model="form.is_featured" value="1" unchecked-value="0">	Set As Featured</b-form-checkbox>
				</b-form-group>
				<b-form-group label="Description">
					<b-form-textarea v-model="form.description"></b-form-textarea>
				</b-form-group>
				<b-form-group label="Type">
					<b-form-checkbox-group name="type[]" v-model="form.type">
						<b-form-checkbox value="undergraduate">Undergraduate</b-form-checkbox>
						<b-form-checkbox value="ms">MS</b-form-checkbox>
						<b-form-checkbox value="mba">MBA</b-form-checkbox>
					</b-form-checkbox-group>
				</b-form-group>
				<b-form-group>
					<b-btn size="sm" variant="outline-secondary" class="border position-relative">
						Image <i class="fa fa-camera"></i>
						<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" />
					</b-btn>
					<b-btn variant="outline-danger" size="sm" v-show="form.image" @click="removeFile" class="ml-2">
						<i class="fa fa-close"></i>
					</b-btn> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
					<figure>
						<b-img fluid thumbnail id="post-image" :src="form.image"></b-img>
						<input type="hidden" v-model="form.image">
					</figure>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
    </b-modal>
	</div>
</template>

<style>
.file-uploader{
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
}
</style>

<script>
export default {
  data () {
    return {
			isAjxRequest: false,
			currentPage: 1,
			perPage: 10,
			filter: null,
			items: [],
			fields:  {
				name:{},
				description:{},
				type:{thStyle: 'width: 15rem;'},
				sort:{thStyle: 'width: 7rem;'},
				action:{thStyle: 'width: 15rem;'},
			},
			formTitleModal: 'Add Subject',
			form: {
				id: 0,
				name: '',
				synonims: '',
				description: '',
				type: [],
				image: '',
				total_universities: 0,
				is_featured: 0,
				sort: 0,
			},
    }
  },
	methods: {
		remove(subject){
			if(confirm('Remove '+subject.name+' subject?')){
				this.isAjxRequest = true;
				axios.put('api/subject/trash/'+subject.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(subject){
			if(confirm('Restore '+subject.name+' subjects?')){
				this.isAjxRequest = true;
				axios.put('api/subject/restore/'+subject.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(subject){
			let message = "Remove "+subject.name+"s' subject permanently?";
			if(subject.total_universities > 0)
				message = subject.total_universities+" universities are using this subject.\nAre you sure want to remove this subject permanently?";

			if(confirm(message)){
				this.isAjxRequest = true;
				axios.delete('api/subject/'+subject.id)
					.then(rsponse => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
    showForm(subject) {
			this.form.id = 0;
			this.form.name = '';
			this.form.synonyms = '';
			this.form.description = '';
			this.form.type = [];
			this.form.image = '';
			this.form.total_universities = 0;
			this.form.is_featured = 0;
			
			if(subject != 0){
				this.formTitleModal = 'Edit '+subject.name+' subject';
				this.form.id = subject.id;
				this.form.name = subject.name;
				this.form.synonyms = subject.synonyms;
				this.form.description = subject.description;
				this.form.type = subject.type;
				this.form.image = subject.image;
				this.form.total_universities = subject.total_universities;
				this.form.is_featured = subject.is_featured;
			}
      this.$refs.modal.show()
    },
		onSubmit(evt){
			evt.preventDefault();
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			this.isAjxRequest = true;
			
			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/subject':'api/subject/'+this.form.id,
				data: this.form
			}).then(response => {				
				this.fetchData();
				this.$refs.modal.hide()
			}).catch(error => {
				alert(getErrorMessage(error.response.data))
			})
			.then(() => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('i.fa-spinner').remove();
				this.isAjxRequest = false;

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/subjects')
				.then(response => {
					this.items = response.data;
					$('#btn-sort').removeClass('btn-secondary').addClass('btn-light')

				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
    uploadFile(event){
			let $el = $(event.target);
			let vm = this;
			
      let uploader = $el.fileupload({
				url: 'api/subject/upload'
			});

      uploader.on('fileuploadstarted', function(evt){
				this.isAjxRequest = true;
			});

      uploader.on('fileuploaddone', function(evt, response){
				if(response.textStatus == 'success'){
					vm.form.image = response.result.file;
				}
      });
      
      uploader.on('fileuploadfail', function(evt, response){
				alert(getErrorMessage(response.jqXHR))
			});
			
      uploader.on('fileuploadcompleted', function(evt){
				this.isAjxRequest = false;
			});
		},
		removeFile(event){
			let $el = $(event.target);
			let vm = this
			$el = ($el.is('button') == false)? $el.parents('button') : $el;

			if(confirm('Remove this file?')){
				this.isAjxRequest = true;
				let file = $el.data('file')

				axios.delete('api/subject/remove/image', {params: {file: file}})
					.then((response) => {
						vm.form.image = ''
						
					}).catch(function(error){
						alert(getErrorMessage(error.response.data))

					}).then(function(){
						vm.isAjxRequest = false;
					})
			}
		},
		updateShortNumber(subject){
			let vm = this

			setTimeout(function(){
				$('table input[type="number"]').prop('disabled', true)
				$('#btn-sort').prop('disabled', true)
				axios.put('api/subject/'+subject.id+'/sort/'+subject.sort)
					.then(function(response){
						if(response.data.message)
							alert(response.data.message)

						$('#subject-sort-'+subject.id).val(response.data.subject.sort)
						$('#btn-sort').removeClass('btn-light').addClass('btn-secondary')
					})
					.catch(function(error){
						alert(getErrorMessage(error.response.data))
					})
					.then(function(){
						$('table input[type="number"]').prop('disabled', false)
						$('#btn-sort').prop('disabled', false)
					})
			}, 1000)
		},
	},
	mounted(){
		let vm = this
		$.getScript('js/fn.js')
		.done(() => {
			this.fetchData();
		})
	}
}
</script>