<template>
	<div class="w-75 mx-auto">
		<div class="alert alert-danger" v-show="offline">
			Authentication failed. Please logout and try to re-login
		</div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - University Weathers <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
			</h6>	
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="university" slot-scope="university">
					{{university.item.university_name}}
				</template>
				<template slot="action" slot-scope="university">
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showWeather(university.item)">Show Weathers</b-btn>
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="updateWeather(university.item)">Update</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
		
		<b-modal ref="modal" hide-footer :title="modalTitle" size="lg">
			<canvas id="chart"></canvas>
		</b-modal>
	</div>
</template>

<script>
export default {
  data () {
    return {
			offline: false,
			isAjxRequest: false,
			currentPage: 1,
			perPage: 10,
			filter: null,
			items: [],
			modalTitle: '',
			fields: {				
				university:{thStyle: 'width: 30rem;'},
				action:{thStyle: 'width: 15rem;'}
			},
    }
  },
	methods: {
		updateWeather(university){
			this.isAjxRequest = true;
			axios.put('api/university/weather/'+university.id)
				.then(response => {
					this.fetchData();
				}).catch(error => {
					alert(getErrorMessage(error.response))
				}).then(() => {
					this.isAjxRequest = false;
				})
		},
		showWeather(university){
			let $el = document.getElementById('chart');
			let $chart = new Chart($el, {
				type: 'bar',
				data: {
					labels: university.weather_label,
					datasets: [{
						label: 'Low',
						data: university.weather_degree_min,
						backgroundColor: '#66669a',
						borderWidth: 1
					},{
						label: 'High',
						data: university.weather_degree_max,
						backgroundColor: '#7288eb',
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						xAxes: [{stacked: true}],
						yAxes: [{stacked: true}]
					},
					legend: {position: 'left'}
				}
			})

			this.modalTitle = university.university_name+"'s weathers"
			this.$refs.modal.show()
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/university/weathers')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
  },
	mounted(){
		let vm = this

		$.getScript('js/fn.js')
		.done(() => {
			vm.fetchData();
			$.getScript('vendor/chart.js/dist/Chart.min.js')
		})
	}
}
</script>