<template>
	<input type="text" class="form-control datepicker" placeholder="yyyy-mm-dd">
</template>

<script>
	export default {
		props: ['value'],
		mounted: function () {
			let vm = this
			
			$(this.$el)
				.datepicker({format: 'yyyy-mm-dd'})
				.val(this.value)
				.trigger('changeDate')
				.on('changeDate', function () {
					vm.$emit('input', this.value)
					vm.$emit('callback', this)					
				})
		},
		watch: {
			value: function (value) {
				// update value
				$(this.$el).datepicker('setdate', value)
					.val(value)
					.trigger('changeDate')
			}
		},
		destroyed : function () {
			$(this.$el).off().timepicker('remove')
		}
	}
</script>
