<template>
	<select>
    <slot></slot>
  </select>
</template>

<script>
	export default {
		props: ['options', 'value'],
		methods:{
			formatOptions(option){
				let $option = option.text;
				if(option.loading)
					return $option

				if(typeof option.description != 'undefined')
					$option = $('<div class="font-weight-bold">'+option.text+'</div><small>'+option.description+'</small>')

				if(typeof option.thumbnail != 'undefined'){
					let $thumbnail = $('<div class="col-md-2"><img class="img-fluid rounded-circle" src="'+option.thumbnail+'"></div>')
					let $text = $('<div class="col-md-10 pl-0"><div class="font-weight-bold">'+option.text+'</div><small>'+option.description+'</small></div>')

					$option = $('<div></div>').addClass('row')
						.append($thumbnail)
						.append($text)
				}
				
				return $option
			},
			formatOptionSelection(option){
				return option.text
			}

		},
		mounted: function () {
			let vm = this

			$(this.$el).select2({
				data: this.options,
				templateResult: this.formatOptions,
				templateSelection: this.formatOptionSelection
			})
				.css('width', '100%')
				.val(this.value)
				.trigger('change')
				.on('change', function () {
					vm.$emit('input', this.value)
					vm.$emit('callback', this)					
				})
		},
		watch: {
			value: function (value) {
				// update value
				$(this.$el).val(value)
					.trigger('change')
			},
			options: function (options) {
				// update options
				$(this.$el).empty().select2({
					data: options,
					templateResult: this.formatOptions,
					templateSelection: this.formatOptionSelection
				})
			}
		},
		destroyed : function () {
			$(this.$el).off().select2('destroy')
		}
	}
</script>
