<template>
	<select>
    <slot></slot>
  </select>
</template>

<script>
export default {
  props: ['options', 'value', 'disabled'],
  mounted: function () {
    var vm = this;
    var opt = $.extend({},$(this.$el).data('selectize-options'));
    if(this.options.length){
      opt.options = this.options;
    }

    this.sel = $(this.$el).selectize(opt)
    	.on("change",function(){
          vm.$emit('input', vm.sel.getValue());
        })[0].selectize;
    this.sel.setValue(this.value,true);
  },
  watch: {
    value: function (value) {
    	this.sel.setValue(value,true);
    },
    options: function (options) {
    		var val = this.sel.getValue();
        this.sel.clearOptions();
        this.sel.addOption(options);
        this.sel.refreshOptions(false);
        this.sel.setValue(val,true);
    },
    disabled: function(value){
      if(value == true) this.sel.disable()
      else this.sel.enable()
    }
  },
  destroyed: function () {
  	this.sel.destroy();
	}
}
</script>




