<template>
	<input type="text" class="form-control">
</template>

<script>
	export default {
		props: ['value'],
		mounted: function () {
			let vm = this
			
			$(this.$el).timepicker({
				timeFormat: 'H:i:s',
				disableTextInput: true
			})
			.val(this.value)
			.trigger('changeTime')
			.on('changeTime', function () {
				vm.$emit('input', this.value)
				vm.$emit('callback', this)					
			})
		},
		watch: {
			value: function (value) {
				// update value
				$(this.$el).val(value)
					.trigger('changeTime')
			}
		},
		destroyed : function () {
			$(this.$el).off().timepicker('remove')
		}
	}
</script>
