<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - Event List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showForm(0)">Add Event</b-btn>
			</h6>	
			<div class="w-md-25 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<template slot="title" slot-scope="event">
					<div class="font-weight-bold">
						<a :href="event.item.url" target="_blank">{{event.item.title}}</a>
					</div>
					<div class="fs-1"><i class="fa fa-map-marker"></i> {{event.item.address}}</div>					
				</template>
				<template slot="date" slot-scope="event">
					<div>{{event.item.start_date_formated}} - {{event.item.end_date_formated}}</div>
					<div>{{event.item.start_time_formated}} - {{event.item.end_time_formated}}</div>
				</template>
				<template slot="action" slot-scope="event">
					<b-btn size="sm" variant="outline-success" class="border-success" @click="showModalAttendance(event.item)">{{event.item.totalAttendance}} Attendance</b-btn>
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(event.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(event.item)" v-show="!event.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(event.item)" v-show="event.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(event.item)" v-show="event.item.deleted_at">Destroy</b-btn>
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal" size="lg" no-close-on-backdrop>
			<b-tabs v-model="tabIndex">
				
				<b-tab title="Details" active class="pt-3">
					<b-form @submit="onSubmit" name="formDetail" :action="formDetail.action" :method="formDetail.method">
						<b-row>
							<b-col md="6">
								<b-form-group label="Title">
									<b-form-input type="text" v-model="formDetail.title" required></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="6">								
								<b-form-group label="Slug">
									<b-form-input type="text" v-model="formDetail.slug" required></b-form-input>            
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group label="Address">
							<b-form-input type="text" v-model="formDetail.address" required></b-form-input>
						</b-form-group>
						<b-row>
							<b-col md="6">								
								<b-form-group label="Status">
									<selectize v-model="formDetail.status">
										<option value="active" selected>Active</option>
										<option value="pending">Pending</option>
										<option value="done">Done</option>
										<option value="cancel">Cancel</option>
									</selectize>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group label="Seat">
									<b-input type="number" v-model="formDetail.seat" min="0" required></b-input>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group label="Description">
							<b-form-textarea v-model="formDetail.description" required id="description"></b-form-textarea>
						</b-form-group>
						<b-row>
							<b-col md="6" class="border-right">
								<b-row>
									<b-col md="6">
										<b-form-group label="Date">
											<datepicker v-model="formDetail.start_date" required></datepicker>
										</b-form-group>
									</b-col>
									<b-col md="6">
										<b-form-group label="&nbsp;">
											<datepicker v-model="formDetail.end_date" required></datepicker>
										</b-form-group>
									</b-col>
								</b-row>
							</b-col>
							<b-col md="6">
								<b-row>
									<b-col md="6">
										<b-form-group label="Time">
											<timepicker v-model="formDetail.start_time" required></timepicker>
										</b-form-group>
									</b-col>
									<b-col md="6">
										<b-form-group label="&nbsp;">
											<timepicker v-model="formDetail.end_time" required></timepicker>
										</b-form-group>
									</b-col>
								</b-row>
							</b-col>
						</b-row>
						<b-form-group>
							<b-btn size="sm" variant="outline-secondary" class="border position-relative">
								Image <i class="fa fa-camera"></i>
								<input type="file" name="file" accept="image/*" class="file-uploader" data-action="api/event/upload/hero" data-form="formDetail" data-form-object="hero_image" @click="uploadFile" />
							</b-btn>
							<b-btn variant="outline-danger" size="sm" v-show="formDetail.hero_image" @click="removeFile"  data-action="api/event/remove/hero" data-form="formDetail" data-form-object="hero_image" class="ml-2">
								<i class="fa fa-close"></i>
							</b-btn> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
							<figure>
								<b-img fluid thumbnail id="event-image" :src="formDetail.hero_image"></b-img>
								<input type="hidden" v-model="formDetail.hero_image">
							</figure>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Media" class="pt-3"  :disabled="!formMedia.event_id">
					<b-form @submit="onSubmit" :action="formMedia.action" :method="formMedia.method" name="formMedia">
						<b-form-group label="Video URL">
							<b-textarea class="form-control" v-model="formMedia.url"></b-textarea>
							<small class="text-muted">* Separate the URL by new line</small>
						</b-form-group>
						<div class="upload-container">				
							<b-btn size="sm" variant="outline-danger" class="border position-relative mb-1">
								Choose Power Point File <i class="fa fa-file-powerpoint-o"></i>
								<input type="file" name="file" multiple accept=".ppt, .pptx" class="file-uploader" @click="uploadFile" data-action="api/event/upload/ppt" data-form="formMedia" data-form-object="files"/>
							</b-btn> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
								<div style="overflow-x:auto;">
									<div v-for="(file, i) in formMedia.files" :key="i">
										<b-btn size="sm" variant="outline-danger" @click="removeFile" data-action="api/event/remove/ppt" :data-file="file" data-form="formMedia" data-form-object="files">
											<i class="fa fa-remove"></i>
										</b-btn> <a :href="file" target="_blank">{{file.replace('files/ppt/', '')}}</a>
									</div>
								</div>
								<hr>
								<div class="text-center">
									<hr>
									<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
									<b-btn variant="primary" id="btn-import" type="submit">save</b-btn>
								</div>
						</div>
					</b-form>
				</b-tab>
			</b-tabs>
    </b-modal>

		<b-modal ref="modalAttendance" hide-footer :title="modalAttendanceTitle" size="lg" no-close-on-backdrop>
			<span>Total seat: {{totalSeat}}</span>
			<div class="w-md-25 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filterAttendance" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="tableAttendance" responsive hover :items="itemAttendees" :fields="fieldAttendees" :current-page="currentPageAttendance" :per-page="perPageAttendance" :filter="filterAttendance">
				<template slot="name" slot-scope="attendance">
					<div><a :href="attendance.item.user.url" target="_blank">{{attendance.item.user.fullName}}</a></div>
					<small class="border p-1" v-show="attendance.item.is_waiting_list == 1">Waiting List</small>
				</template>
				<template slot="country" slot-scope="attendance">
					{{attendance.item.user.country.name}}
				</template>
				<template slot="birth_date" slot-scope="attendance">
					{{attendance.item.user.birth_date}}
				</template>
				<template slot="contact" slot-scope="attendance">
					<div><i class="fa fa-envelope"></i> {{attendance.item.user.email}}</div>
					<div><i class="fa fa-phone"></i> {{attendance.item.user.phone}}</div>
				</template>
				<template slot="gender" slot-scope="attendance">
					{{attendance.item.user.gender}}
				</template>
			</b-table>
			<b-pagination  align="center" size="sm" :total-rows="itemAttendees.length" :per-page="perPageAttendance" v-model="currentPageAttendance" />
			<div class="text-center text-muted">Total {{itemAttendees.length}} records</div>
		</b-modal>
	</div>
</template>

<style>
.file-uploader{
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
}
</style>

<script>
export default {
  data () {
    return {
			tabIndex: 0,
			isAjxRequest: false,
			currentPage: 1,
			perPage: 10,
			filter: null,
			items: [],
			fields:  {
				title:{},
				date:{thStyle: 'width: 23rem;'},
				status:{},
				action:{thStyle: 'width: 20rem;'},
			},
			modalAttendanceTitle: '',
			currentPageAttendance: 1,
			perPageAttendance: 10,
			filterAttendance: null,
			itemAttendees: [],
			totalSeat: 0,
			fieldAttendees:  {
				name:{},
				country:{},
				birth_date:{},
				contact:{},
				gender:{},
				register_at:{}
			},
			formTitleModal: 'Add Event',
			formDetail: {
				action: 'api/event',
				method: 'post',
				id: 0,
				title: '',
				slug: '',
				description: '',
				address: '',
				start_date: '',
				end_date: '',
				start_time: '',
				end_time: '',
				hero_image: '',
				status: '',
				seat: 0
			},
			formMedia:{
				action: 'api/event/media',
				method: 'post',
				event_id: 0,
				url: '',
				files: [],
			}
    }
  },
	methods: {
		remove(event){
			if(confirm('Remove '+event.title+' event?')){
				this.isAjxRequest = true;
				axios.put('api/event/trash/'+event.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(event){
			if(confirm('Restore '+event.title+' subjects?')){
				this.isAjxRequest = true;
				axios.put('api/event/restore/'+event.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(event){
			if(confirm("Remove "+event.title+"s' event permanently?")){
				this.isAjxRequest = true;
				axios.delete('api/event/'+event.id)
					.then(rsponse => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
    showForm(event) {
			let vm = this
			this.tabIndex = 0
			this.formDetail.id = 0;
			this.formDetail.action = 'api/event';
			this.formDetail.method = 'post';
			this.resetData('formDetail')
			this.formDetail.status = 'active';
			tinymce.get('description').setContent('')
			tinymce.get('description').undoManager.clear()
			
			this.formMedia.action = 'api/event/media';
			this.formMedia.method = 'post';
			this.resetData('formMedia')
			
			if(event != 0){
				this.formTitleModal = 'Edit '+event.title+' event';
				this.formDetail.id = event.id;
				this.formDetail.title = event.title;
				this.formDetail.slug = event.slug;
				this.formDetail.description = event.description;
				this.formDetail.address = event.address;
				this.formDetail.start_date = event.start_date;
				this.formDetail.end_date = event.end_date;
				this.formDetail.start_time = event.start_time;
				this.formDetail.end_time = event.end_time;
				this.formDetail.hero_image = event.hero_image;
				this.formDetail.status = event.status;
				this.formDetail.seat = event.seat;
				this.formDetail.action = 'api/event/'+event.id;
				this.formDetail.method = 'put';

				if(event.description != '' && event.description != null)
					tinymce.get('description').setContent(event.description)
					
				/* $.each($('input.datepicker'), function(i, el){
					$(el).datepicker('setDate', $(el).val())
				}); */

				this.formMedia.event_id = event.id;
				this.fetchDataMedia(event)
			}
      this.$refs.modal.show()
			$('.modal-content').attr('tabindex', '')
		},		
		hideForm(){
			this.$refs.modal.hide()
		},
		showModalAttendance(event){
			let vm = this
			axios.get('api/event/'+event.id+'/attendance')
				.then(function(response){
					vm.itemAttendees = response.data
					vm.modalAttendanceTitle = 'Attendess of event "'+event.title+'"'
					vm.totalSeat = event.seat
					setTimeout(function(){
						vm.$refs.modalAttendance.show();
					}, 500)
				})
		},
		onSubmit(evt){
			evt.preventDefault();
			let $form = $(evt.target);
			let isSuccess = true
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let $btnSubmit = $('form').find('button:submit')
			
			$btnSubmit.prop('disabled', true);
			$btnSubmit.append(_spinner);
			$form.find('button').prop('disabled', true)
			this.isAjxRequest = true;

			if($form.attr('name') ==  'formDetail')
				this.formDetail.description = tinymce.get('description').getContent()
			
			axios({
				method: $form.attr('method'),
				url: $form.attr('action'),
				data: this[$form.attr('name')]
			}).then(response => {
				if(typeof response.data.message != 'undefined' && response.data.message != '')
					alert(response.data.message)
				else
					alert('Data has been saved')

			}).catch(error => {
				alert(getErrorMessage(error.response.data))
				isSuccess = false
			})
			.then(() => {
				$btnSubmit.prop('disabled', false);
				$btnSubmit.find('i.fa-spinner').remove();
				$form.find('button').prop('disabled', false)
				this.isAjxRequest = false;
				if(isSuccess) this.fetchData();

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/events')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataMedia(event){
			this.isAjxRequest = true;
			axios.get('api/event/'+event.id+'/media')
				.then(response => {
					let vm = this
					vm.formMedia.url = '';
					
					if(response.data.length){
						$.each(response.data, function(i, data){
							if(data.type == 'url')
								vm.formMedia.url += data.media+"\r\n"
							else
								vm.formMedia.files.push(data.media)
						})
					}
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return []
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
    uploadFile(e){
			let $el = $(e.target);
			let $container = $el.parents('.upload-container')
			let vm = this;
			
      let uploader = $el.fileupload({
				url: $el.data('action')
			})
      .on('fileuploadstarted', function(evt){
				this.isAjxRequest = true;
			})
			.on('fileuploadprogressall', function (e, data){
        let progress = parseInt(data.loaded / data.total * 100, 10);
				vm.isAjxRequest = (progress < 100)
			})
      .on('fileuploaddone', function(evt, response){
				if(response.textStatus == 'success'){
					if($el.data('form') == 'formMedia')
						vm[$el.data('form')][$el.data('form-object')].push(response.result.file)
					else
						vm[$el.data('form')][$el.data('form-object')] = response.result.file;
					
				}
      })     
      .on('fileuploadfail', function(evt, response){
				alert(getErrorMessage(response.jqXHR))
			})
			.on('fileuploadcompleted', function(evt){
				this.isAjxRequest = false;
			});
		},
		removeFile(event){
			let $el = $(event.target);
			let vm = this
			$el = ($el.is('button') == false)? $el.parents('button') : $el;

			if(confirm('Remove this file?')){
				this.isAjxRequest = true;
				let data = vm[$el.data('form')][$el.data('form-object')]
				let file = $el.data('file')

				axios.delete($el.data('action'), {params: {file: file}})
					.then((response) => {
						if(typeof data == 'string')
							data = null;

						else if(typeof data == 'object'){
							data = data.filter(function(item){ return item !== file })
						}
						
					}).catch(function(error){
						alert(getErrorMessage(error.response.data))

					}).then(function(){
						vm.isAjxRequest = false;
						vm[$el.data('form')][$el.data('form-object')] = data
					})
			}
		},
		resetData(data){
			$.each(this[data], (item, value) => {
				if(item == 'action' || item == 'method') return
				if(typeof value == 'number') this[data][item] = 0
				else if(typeof value == 'string') this[data][item] = null
				else if(typeof value == 'object') this[data][item] = []
			})
		},
	},
	watch:{
		'formDetail.title'(val){
			this.formDetail.slug = generateSlug(val)
		},
	},
	mounted(){
		let vm = this
		$.getScript('js/fn.js')
		.done(() => {
			this.fetchData();
			_tinymce('#description', 'api/event/upload/editor')
		})
	}
}
</script>