
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
// ?
// Colors

$theme-colors: (
  primary: #5961a6,
  secondary: #667eea,
  light: #f3f3f3,
  dark: #151515,
  info: #ccc,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: #f4f4f4;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #667eea;

// Fonts
$font-family-base: 'Open Sans', san-serif;

$headings-font-family: $font-family-base;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;

$spacer: 1.5rem;

$font-size-base: 1.125rem;

$border-radius: 0.5rem;

$box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
