
@import "variables";
@import '~bootstrap/scss/bootstrap';
// @import '~font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~select2/dist/css/select2.min.css';
@import '~selectize/dist/css/selectize.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css';
@import '~jquery-form-validator/form-validator/theme-default.min.css';

html,body {
   height:100%;
   font-family: 'Lato', sans-serif;
   color: #696a79;
}

/************************CUSTOM BOOTSTRAP*****************************/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, 
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before{
	background-color: theme-color("secondary") !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
	background:none;
}

.carousel-indicators.circle li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

form.flat input.form-control,
form.flat select.form-control
{
    color: theme-color("secondary");
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: theme-color("secondary");
    border-radius: 0;
    box-shadow: none;
}
form.flat ::placeholder,
form.flat :-ms-input-placeholder,
form.flat ::-ms-input-placeholder{
    color: theme-color("secondary");
}
form.flat .select2-container{
  padding-top: 3px;
}
form.flat .select2-selection{
  height: 75%;
  padding-bottom: 9px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:theme_color("secondary");
  border-radius: 0;
}
form.flat .select2-container .select2-selection__arrow{
  display: none;
}
form.flat .select2-selection:focus {
  outline-color: transparent;
  border-bottom: 1px solid theme_color("secondary");
}
form.flat .select2-selection__rendered {
  color: theme_color("secondary") !important;
}


form label.gender-option{
	border-radius:4px !important;
}
form label.gender-option i.fa-venus{
	transform: rotate(40deg);
}
form label.gender-option.active{
	background: linear-gradient(-45deg, #8862af, #7b8fee) !important;
}


form .help-block {
  font-size: 14px;
  font-style: italic;
}
.form-error, input.error, select.error, textarea.error{
  color: theme_color("danger") !important;
}
input.valid, select.valid, textarea.valid{
  border-color: theme_color("success");
}
input.error.no-icon, select.error.no-icon, textarea.error.no-icon,
input.valid.no-icon, select.valid.no-icon, textarea.valid.no-icon{
  background-image: none;
}
span.strength-meter {
  height: 1px;
  overflow: hidden;
  padding: 0 !important;
  width: 100%;
  position: absolute;
}


textarea {
  resize: none;
  overflow: auto;
}
/**********************************************************************/
.btn-group input[type="radio"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
.btn-group.btn-secondary-light label.btn.active{
	background-color: theme-color("secondary");
  border-color: theme-color("secondary");
  color: #fff;
}
.btn-group.btn-secondary-light label.btn:not(.active){
  color: #212529;
	background-color: #fff;
  border-color: theme-color("light");
}
.btn-group.btn-secondary-light-text label.btn,
.btn-group.btn-secondary-light-text label.btn:active{
  color: #212529;
	background-color: #fff;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  box-shadow: none;
}
.btn-group.btn-secondary-light-text label.btn:last-child{
	border-right: 0;
}
.btn-group.btn-secondary-light-text label.btn:hover{
	z-index:unset;
}
.btn-group.btn-secondary-light-text label.btn:first-child{
  border-left: none;
}
.btn-group.btn-secondary-light-text label.btn.active{
  color: theme-color("secondary");
	background-color: #fff;
  font-weight: bold;
  box-shadow: none;
	z-index:unset;
}
.btn-group.btn-secondary-light-text label.btn:focus {
    box-shadow: none !important;
}
.btn.bg-gradient-vertical:active{
	background: linear-gradient(#7b8fee, #8862af) !important;
}

/*****************************************************/
.slider.slider-horizontal{
	width: 100% !important;
}
.slider.slider-horizontal .slider-track {
    height: 5px !important;
}
.slider-handle{
	background-color: theme-color("secondary") !important;
  background-image: none !important;
}
/******************************************************/
.cover {
	min-height:100%;
  display:flex;
  align-items:center
}


/*.bg-gradient {
  overflow: hidden;
  color: color-yiq(map-get($theme-colors, 'primary'));
  background: linear-gradient(-30deg, theme-color("secondary") 0%, theme-color("primary") 50%, theme-color("primary") 100%);
}*/
.bg-gradient{
	background: linear-gradient(-45deg, #8862af, #7b8fee);
}
.bg-gradient-vertical{
	background: linear-gradient(#8862af, #7b8fee);
}
.flex-fill{
  -ms-flex:1 1 auto!important;
  flex:1 1 auto!important
}
/******************************************************/
/* 
.filter-dark {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'dark'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'dark'), 0.75);
  }
}
.filter-light {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'light'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'light'),0.75);
  }
}

.filter-color {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'primary'), 0.75);
  }
}

.filter-gradient {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(-30deg, transparentize(theme-color("secondary"), 0.1) 0%, transparentize(theme-color("primary"), 0.1) 50%, transparentize(theme-color("primary"), 0.05) 100%);
  }
}

.filter-fade-in {
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient($body-bg, transparentize($body-bg, 0.2),transparentize($body-bg, 0.9),transparentize($body-bg, 1));
	}
} */
/*****************************************************************/
.transition{
	-webkit-transition: all 0.3s ease-out;
		 -moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out; }

.shadow{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.position-relative{
	position: relative !important;
}

.text-grey-light{
	color: #bfc1c8;
}
/*****************************************************************/
.card-header h4.title{
	color: theme-color("secondary");
  font-weight:bold;
}
.card-text{
  text-align: justify;
  white-space: pre-line;
}
.card-columns{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}
@media (min-width: 768px){
  .card-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .card-columns.card-col-3{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.card .fa-quote-right {
    font-size: 40px;
    right: 25px;
    position: absolute;
    bottom: 25px;
    color: #eee;
}
/***************************************************************/

.rating{
	color: orange;
}
.site-logo{
	font-size: 48px;
}

#site-header .navbar-btn{
	font-size: 0.875rem;
  padding: 0.1875rem 1.75rem;
}
#site-header.float-header {
    background: rgba(102, 102, 154, .8);
}
#site-header li a{
  color: #fff;
}
#site-header .dropdown-toggle::after{
	display:none;
}
#site-header{
	top: 0;
  left: 0;
  width: 100%;
  z-index: 1020;
}
#site-header li a.dropdown-item, #site-header li .dropdown-item:hover, #site-header li .dropdown-item:focus {
  color: theme-color("secondary");
}

@media (min-width: 768px){
  img.site-logo{
    height: 30px;
  }
  #site-header li a{
    font-size: 14px;
  }
}

@media (min-width: 1200px){
  img.site-logo{
    height: 50px;
  }
  #site-header li a{
    font-size: 16px;
  }
}
/***************************************************************/
.section-title{
	text-align:center;
  font-weight:bold;
  color: theme-color("secondary");
  font-size: 42px;
}
.section-separator{
	text-align: center;
  margin-top: .5rem;
  margin-bottom: 3rem;
}
.section-separator hr{
  margin-top: -20px;
}
.section-separator .btn{
	z-index: 1;
}


/*****************************************************************/
#shortcut-wrapper{
	height: 100px;
}
#shortcut-wrapper li.nav-item{
	position: relative;
  top: -50px; 
	width: 65px;
	height: 65px;
}
#shortcut-wrapper li:hover{
	width: 70px;
	height: 70px;
	top: -55px;
}
#shortcut-wrapper li:hover .shortcut-text{
	font-size:10px;
	font-weight:bold;
}
#shortcut-wrapper li a{
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#shortcut-wrapper li a:hover{
	color: theme-color("primary");
}
#shortcut-wrapper .shortcut-icon{
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
}
#shortcut-wrapper li:hover .shortcut-icon {
	display:none;
}
#shortcut-wrapper .shortcut-text{
	width: 100%;
	word-wrap: break-word;
	visibility:hidden;
}
#shortcut-wrapper li:hover .shortcut-text {
	font-weight: bold;
	visibility:visible;
}

@media (min-width: 576px){
	#shortcut-wrapper{
		height: 50px;
	}
  #shortcut-wrapper li.nav-item {
      width: 50px;
      height: 50px;
			top: -40px;
  }
	#shortcut-wrapper li:hover {
		width: 60px;
		height: 60px;
		top: -45px;  }
  #shortcut-wrapper .shortcut-icon {
    background-size: 38px 38px;
  }
}

@media (min-width: 768px){
  #shortcut-wrapper li.nav-item {
      width: 70px;
      height: 70px;
  }
  #shortcut-wrapper .shortcut-icon {
    background-size: 38px 38px;
  }
}
@media (min-width: 992px){
  #shortcut-wrapper li.nav-item {
      width: 100px;
      height: 100px;
  }
  #shortcut-wrapper .shortcut-icon {
    background-size: 38px 38px;
  }
}
@media (min-width: 992px) {
	#shortcut-wrapper{
		height: 100px;
	}
  #shortcut-wrapper li.nav-item {
    width: 100px;
    height: 100px; }
  #shortcut-wrapper .shortcut-icon {
    background-size: 54px 54px; } 
	#shortcut-wrapper li:hover .shortcut-text{
		font-size: 14px;
	}
}
/*********************************************************************************/

/*********************************************************************************/
.hero-area .btn-lg{
  background-color: #d1d3e6;
}

.hero-area #line-ab:before,
.hero-area #line-ab:after,
.hero-area #line-cd:before,
.hero-area #line-cd:after{
	content: '';
	position: absolute;
	height: 1px;
	background-color: #d1d3e6;
}

.hero-area #line-ab:before{	
  transform: rotate(60deg);
  top: 90px;
  left: -75px;
  width: 90px;
}
.hero-area #line-ab:after{	
  transform: rotate(-60deg);
  top: 90px;
  right: -75px;
  width: 90px;
}
.hero-area #line-cd:before{	
    transform: rotate(-55deg);
    top: -35px;
    left: -95px;
    width: 100px;
}
.hero-area #line-cd:after{	
	transform: rotate(55deg);
	top: -35px;
	right: -95px;
	width: 100px;
}
.hero-area.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
}
.hero-caption {
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}
@media (min-width: 768px){
	.hero-area #line-ab:before,
	.hero-area #line-cd:after {
		transform: rotate(50deg);
	}
	.hero-area #line-ab:after,
	.hero-area #line-cd:before {
		transform: rotate(-50deg);
	}
}
@media (min-width: 992px){
	.hero-area .btn-lg{
    font-size: 2.25rem;
    background-color: #d1d3e6;
  }

}
/*************************************************************************/
h2.hero-title{
	color: #fff;
  font-weight:bold;
  font-size: 2.5rem;
}

@media (min-width: 576px){
  body.blog .hero-info{
		font-size: 1rem;
  }
}
@media (min-width: 768px){
  h2.hero-title{
    font-size: 2.5rem;
  }
  body.blog .hero-info{
		font-size: 1.125rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape){
  body.forum .hero-info{
  	margin-top: -100px;
  }
}
@media (min-width: 1200px){
  body.forum .hero-info{
  	margin-top: -20px;
  }
}
@media (min-width: 992px){
  h2.hero-title{
    font-size: 3.75rem;
  }
}
/*************************************************************************/
.option-box{
	height: 150px;
}
.option-box .box-inner{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.option-box .box-title {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	z-index:2;    
	padding-top: 35px;
  padding-bottom: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.option-box:hover .box-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: center;
  white-space: inherit;
  overflow: unset;
  text-overflow: unset;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  align-items: center;
}
.option-box .box-img-popup{
	width: 100%;
	height: 100%;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: -5px -5px;
	border-radius: 10px;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index:1;
}
.option-box .box-img-popup:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}
.option-box:hover .box-img-popup {
	opacity: 1;
}
/****************************************************************/

.card-img-wrapper-float{
	width:120px;
  margin-top:-70px;
}
.card-img-wrapper-float img{
 	width: 120px;
  height: 120px;
}
.card-img-wrapper-float-sm{
	width:75px;
  margin-top:-30px;
}
.card-img-wrapper-float-sm img{
 	width: 48px;
  height: 48px;
}
/*******************************************************************/


/* .table-float td, 
.table-float th{
	border: none;
}
.table-float thead tr{
	border-bottom: 1px solid #fff;
}
.table-float tbody tr.spacer td {
	padding: 0;
}
.table-float tbody tr:not(.spacer){
	background-color:#fff;
	color: #666;
}
.table-float tbody tr:not(.spacer) td:first-child{
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
}
.table-float tbody tr:not(.spacer) td:last-child{
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}
.table-float tbody tr:not(.spacer) td {
	padding: 10px;
} */
.spacing-table {
  border-collapse: separate;
  border-spacing: 0 20px; /* this is the ultimate fix */
}
.spacing-table th, .spacing-table td{
  padding: 0;
  border-bottom: 1px solid white;
}
.table-valign-middle td{
	vertical-align: middle !important;
}
table.sortable th.sort:after, table.sortable th.sort:before {
  font-family: "FontAwesome";
}
table.sortable th.sort {
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  font-size: inherit;
  -moz-osx-font-smoothing: greyscale;
  cursor: pointer;
  position: relative;
}
table.sortable th.sort:before, table.sortable th.sort:after {
  position: absolute;
  right: 0;
  opacity: .5;
}
table.sortable th.sort.sorted.desc:after, table.sortable th.sort.sorted.asc:before {
  opacity: 1;
}
table.sortable th.sort:before {
  content: '\f0dd';
}
table.sortable th.sort:after {
  content: '\f0de';
}
/****************************************************/
.search-float-wrapper{
	position: fixed;
	top: 100px;
	right: -11px; 
	z-index:1;
}
.search-float-wrapper input[type=search]{
	border: 0;
}
.search-float-wrapper input[type=search]:focus {
	width: 250px !important;
}
.search-float-wrapper .input-group-text{
	border:0;
}
/*******************************************************/

.scale-float-wrapper{
	position: fixed;
	top: 170px;
	right: -15px; 
	z-index:1;
  padding: 1rem 1.5rem 1rem 1rem;
}
/*******************************************************/

#collapse-students #female, #collapse-students #male{
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  background-size: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collapse-students #female{
  background-image: url(../img/icon/female-big.png);
  background-position: 30% 70%;
}
#collapse-students #male{
  background-image: url(../img/icon/male-big.png);
  background-position: 70% 30%;
}
@media (min-width: 736px){
  #collapse-students #female, #collapse-students #male{
    background-size: 50%;
  }  
  #collapse-students #female{
    background-position: 40% 90%;
  }
  #collapse-students #male{
    background-position: 60% 30%;
  }
}
@media (min-width: 768px){
  #collapse-students #female, #collapse-students #male{
    background-size: 70%;
  }  
  #collapse-students #female{
    background-position: 20% 90%;
  }
  #collapse-students #male{
    background-position: 80% 30%;
  }
}
@media (min-width: 1024px){
  #collapse-students #female, #collapse-students #male{
    background-size: 50%;
  }  
  #collapse-students #female{
    background-position: 40% 75%;
  }
  #collapse-students #male{
    background-position: 60% 10%;
  }
}
@media (min-width: 1200px){
  #collapse-students #female, #collapse-students #male{
    background-size: 42%;
  }  
}
/* #collapse-students .female{
	top: -120px;
  left: 15px;
}
#collapse-students .male{
	top: -180px;
  left: 60px;
}

@media (min-width: 576px){
  #collapse-students .female{
    left: 100px;
  }
  #collapse-students .male{
    left: 150px;
  }
}
@media (min-width: 768px){
  #collapse-students .female {
    left: 60px;
    top: -105px;
	}
  #collapse-students .male {
    left: 90px;
    top: -140px;
	}

}
@media (min-width: 992px){
  #collapse-students .female {
    left: 80px;
    top: -115px;
	}
  #collapse-students .male {
    left: 130px;
    top: -165px;
	}
}
@media (min-width: 1200px){
  #collapse-students .female {
    top: -140px;
    left: 95px;
	}
  #collapse-students .male {
    top: -190px;
    left: 155px;
	}
} */
/***********************************************/
.univ-list .col-md-3 {
    border-right: 1px solid #667eea;
  	border-bottom:1px solid #667eea;
}.univ-list .col-md-3:last-child {
    border-right: 0;
}
@media (max-width: 767px){
	.univ-list .col-md-3 {
   border-right: 0; 
  }
}
/***********************************************/
#site-footer{
	box-shadow: 0 0.25rem 1rem 0.5rem #8862af;
}

/****************************************************/

.mt-4-offset{
	margin-top: -2.25rem !important;
}
.mt-5-offset{
	margin-top: -4.5rem !important;
}
.mt-6-offset{
	margin-top: -5rem !important;
}
.mb-4-offset{
	margin-bottom: -2.25rem !important;
}
.mb-5-offset{
	margin-bottom: -4.5rem !important;
}
.mb-6-offset{
	margin-bottom: -5rem !important;
}

.b-0-offset{
	bottom: 0rem !important;
}
.b-1-offset{
	bottom: -2rem !important;
}
.b-2-offset{
	bottom: -4rem !important;
}
.b-3-offset{
	bottom: -6rem !important;
}
.b-4-offset{
	bottom: -8rem !important;
}
.b-5-offset{
	bottom: -10rem !important;
}
.b-6-offset{
	bottom: -12rem !important;
}
@media (min-width: 768px){
  .b-md-0-offset{
    bottom: 0rem !important;
  }
  .b-md-1-offset{
    bottom: -2rem !important;
  }
  .b-md-2-offset{
    bottom: -4rem !important;
  }
  .b-md-3-offset{
    bottom: -6rem !important;
  }
  .b-md-4-offset{
    bottom: -8rem !important;
  }
  .b-md-5-offset{
    bottom: -10rem !important;
  }
  .b-md-6-offset{
    bottom: -12rem !important;
  }
}
@media (min-width: 768px) and (orientation: landscape){
  .mb-md-0-landscape{
  	margin-bottom: 0 !important;
  } 
  .mb-md-1-landscape{
  	margin-bottom: 0.375rem !important;
  } 
  .mb-md-2-landscape{
  	margin-bottom: 0.75rem !important;
  } 
  .mb-md-3-landscape{
  	margin-bottom: 1.5rem !important;
  } 
  .mb-md-4-landscape{
  	margin-bottom: 2.25rem !important;
  } 
  .mb-md-5-landscape{
  	margin-bottom: 4.5rem !important;
  } 
}
@media (min-width: 992px) and (orientation: landscape){
  .mb-lg-0-landscape{
  	margin-bottom: 0 !important;
  } 
  .mb-lg-1-landscape{
  	margin-bottom: 0.375rem !important;
  } 
  .mb-lg-2-landscape{
  	margin-bottom: 0.75rem !important;
  } 
  .mb-lg-3-landscape{
  	margin-bottom: 1.5rem !important;
  } 
  .mb-lg-4-landscape{
  	margin-bottom: 2.25rem !important;
  } 
  .mb-md-5-landscape{
  	margin-bottom: 4.5rem !important;
  } 
}
@media (min-width: 1200px) and (orientation: landscape){
  .mb-xl-0-landscape{
  	margin-bottom: 0 !important;
  } 
  .mb-xl-1-landscape{
  	margin-bottom: 0.375rem !important;
  } 
  .mb-xl-2-landscape{
  	margin-bottom: 0.75rem !important;
  } 
  .mb-xl-3-landscape{
  	margin-bottom: 1.5rem !important;
  } 
  .mb-xl-4-landscape{
  	margin-bottom: 2.25rem !important;
  } 
  .mb-xl-5-landscape{
  	margin-bottom: 4.5rem !important;
  } 
}
/****************************************************/

.fs-1{
	font-size: 0.875rem !important;
}
.fs-2{
	font-size: 1rem !important;
}
.fs-3{
	font-size: 1.125rem !important;
}
.fs-4 {
  font-size: 1.5rem !important; }
.fs-5 {
  font-size: 1.75rem !important; }
.fs-6 {
  font-size: 2rem !important; }
.fs-7 {
  font-size: 2.375rem !important; }
.fs-8 {
  font-size: 2.625rem !important; }
.fs-9 {
  font-size: 3rem !important; }
.fs-10 {
  font-size: 3.75rem !important; }
.lh-5 {
  line-height: 3rem; }

@media (min-width: 768px) {
.fs-md-1{
	font-size: 0.875rem !important;
}
.fs-md-2{
	font-size: 1rem !important;
}
.fs-md-3{
	font-size: 1.125rem !important;
}
.fs-md-4 {
  font-size: 1.5rem !important; }
.fs-md-5 {
  font-size: 1.75rem !important; }
.fs-md-6 {
  font-size: 2rem !important; }
.fs-md-7 {
  font-size: 2.375rem !important; }
.fs-md-8 {
  font-size: 2.625rem !important; }
.fs-md-9 {
  font-size: 3rem !important; }
.fs-md-10 {
  font-size: 3.75rem !important; }

.lh-md-5 {
  line-height: 3rem; }
	
}
/*****************************************************/
.w-auto{
	width: auto !important;
}
.w-5 {
  width: 5% !important; }
.w-10 {
  width: 10% !important; }
.w-15 {
  width: 15% !important; }
.w-20 {
  width: 20% !important; }
.w-30 {
    width: 30% !important; }
.w-40 {
    width: 40% !important; }

@media (min-width: 576px) {
  .w-sm-auto{
    width: auto !important;
  }
	.w-sm-5 {
 		 width: 5% !important; }
	.w-sm-10 {
 		 width: 10% !important; }
	.w-sm-15 {
		width: 15% !important; }
  .w-sm-20 {
    width: 20% !important; }
	.w-sm-25 {
		width: 25% !important; }
  .w-sm-30 {
    width: 30% !important; }
  .w-sm-40 {
    width: 40% !important; }
	.w-sm-50 {
		width: 50% !important; }
  .h-sm-15 {
    height: 15% !important; }
  .h-sm-20 {
    height: 20% !important; }
  .h-sm-25 {
    height: 25% !important; }
  .h-sm-50 {
    height: 50% !important; }
  .h-sm-75 {
    height: 75% !important; }
  .h-sm-100 {
    height: 100% !important; } 
}
@media (min-width: 768px){	
  .w-md-auto{
    width: auto !important;
  }
	.w-md-5 {
 		 width: 5% !important; }
	.w-md-10 {
 		 width: 10% !important; }
	.w-md-15 {
		width: 15% !important; }
  .w-md-20 {
    width: 20% !important; }
	.w-md-25 {
		width: 25% !important; }
  .w-md-30 {
    width: 30% !important; }
  .w-md-40 {
    width: 40% !important; }

	.w-md-50 {
		width: 50% !important; }

	.w-md-75 {
		width: 75% !important; }

	.w-md-100 {
		width: 100% !important; }
  .h-md-15 {
    height: 15% !important; }
  .h-md-20 {
    height: 20% !important; }
  .h-md-25 {
    height: 25% !important; }
  .h-md-50 {
    height: 50% !important; }
  .h-md-75 {
    height: 75% !important; }
  .h-md-100 {
    height: 100% !important; } 

}

@media (min-width: 992px) {
  .w-lg-auto{
    width: auto !important;
  }
	.w-lg-5 {
 		 width: 5% !important; }
	.w-lg-10 {
 		 width: 10% !important; }
  .w-lg-15 {
    width: 15% !important; }
  .w-lg-20 {
    width: 20% !important; }
  .w-lg-25 {
    width: 25% !important; }
  .w-lg-30 {
    width: 30% !important; }
  .w-lg-40 {
    width: 40% !important; }
  .w-lg-50 {
    width: 50% !important; }
  .w-lg-75 {
    width: 75% !important; }
  .w-lg-100 {
    width: 100% !important; } 
		
  .h-md-15 {
    height: 15% !important; }
  .h-md-20 {
    height: 20% !important; }
  .h-md-25 {
    height: 25% !important; }
  .h-md-50 {
    height: 50% !important; }
  .h-md-75 {
    height: 75% !important; }
  .h-md-100 {
    height: 100% !important; } }

@media (min-width: 1200px){	
  .w-xl-auto{
    width: auto !important;
  }
	.w-xl-5 {
		width: 5% !important; }
	.w-xl-10 {
		width: 10% !important; }
	.w-xl-15 {
		width: 15% !important; }
  .w-xl-20 {
    width: 20% !important; }
	.w-xl-25 {
		width: 25% !important; }
  .w-xl-30 {
    width: 30% !important; }
  .w-xl-40 {
    width: 40% !important; }

	.w-xl-50 {
		width: 50% !important; }

	.w-xl-75 {
		width: 75% !important; }

	.w-xl-100 {
		width: 100% !important; }

}
/****************************************************/
body.event-listing .btn-group .month-option{
	width: calc(100%/6);
}
/****************************************************/
.box-shadow-none{
  box-shadow: none !important;
}
.border-bottom-secondary{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid theme-color("secondary") !important;
}
@media (min-width: 768px){	
	.border-left-md-secondary{
		border-left: 1px solid theme-color("secondary") !important;
	}
}
/**********************************************************/

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

.carousel-caption{
	bottom: 30%;
}

/******************************************/
body.profile .tab .nav-link.active,
body.profile .tab .nav-link:hover{
	background:transparent;
  color: theme-color("secondary");
}
body.profile .tab .nav-link{
	color: white;
}

body.profile .tab .nav-item{
  width: calc(100% / 3);
}

body.profile .select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: transparent;
  border: none;
  text-align: right;
}
body.profile .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: blue;
  outline: 0;
}
body.profile .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
body.profile .select2-container .select2-selection--single {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
body.profile .select2-container .select2-selection--single:focus {
  border-color: #acb0d3;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(89, 97, 166, 0.25);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(89, 97, 166, 0.25);
}

@media (min-width: 768px){
  body.profile .tab .nav-item{
    width: auto;
  }
}
@media (max-width: 991px) and (orientation: landscape){
  body.profile .hero-area{
  	height: 100% !important;
  }
}
.btn-float-action.position-absolute{
	top: -5px;
  right: -5px;
}

/******************************************************************/
#tab-signup .nav-link.active{
	background: linear-gradient(-45deg, #8862af, #7b8fee) !important;
  color: #fff !important;
  font-weight:bold;
}
@media (min-width: 768px){
  #tab-signup{
  	position: absolute;
    width: 40px;
    left: -20px;
    top:50%;
  }
}
/**********************************************************/
.modal-xl{
	max-width: 90%;
}
/*******************************************************/
.container-fluid figure.stretched {
    margin-left: -15px;
    margin-right: -15px;
}

input[type="date"]:not(.has-value):before{
  color: #82757d;
  content: attr(placeholder);
	width:100%;
}

/*************************************************************/
.btn > input[type=file]{
	height: 100%;	position: absolute;	width: 100%;	top: 0;	left: 0;	opacity: 0;	cursor: pointer;}
	
[disabled].cover-flat ,[readonly].cover-flat {
	border: 0;
	background: none;
	box-shadow: none;
	text-align: right;
}

select[disabled].cover-flat ,select[readonly].cover-flat {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
}
.selectize-control.cover-flat .disabled {
  background-color: transparent;
  border: none;
  box-shadow: none;
  opacity: 1;
  font-size: inherit;
}
.selectize-control.cover-flat .disabled .remove,
.selectize-control.cover-flat .remove-single{
  display: none;
}
.selectize-control.cover-flat.multi .disabled .item {
  padding: .375rem !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.5rem !important;
}
.selectize-control.border-bottom-secondary .selectize-input{
  border: none;
}
.selectize-control.cover-flat .selectize-input:after {
  border: none;
}
.selectize-control.box-shadow-none .selectize-input{
  box-shadow: none !important;
}
.selectize-control.text-secondary .selectize-input{
  color: theme-color('secondary');
}
input[type="date"][disabled]::-webkit-calendar-picker-indicator, 
input[type="date"][disabled]::-webkit-inner-spin-button, 
input[type="date"][disabled]::-webkit-clear-button,
input[type="date"][readonly]::-webkit-calendar-picker-indicator, 
input[type="date"][readonly]::-webkit-inner-spin-button, 
input[type="date"][readonly]::-webkit-clear-button {
	display: none;
}
input[type=number].no-arrows::-webkit-inner-spin-button, 
input[type=number].no-arrows::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select[disabled]::-ms-expand ,select[readonly]::-ms-expand {
  display: none;
}

.text-align-last-right{
	text-align-last: right !important;
}
.text-truncate-ellipsis-90{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.cursor-pointer{
	cursor: pointer !important;
}

.progress-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 221, 221, .5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ucompare-container{
  width: 0;
  position: fixed;
  top: 170px;
  right: -10px;
}
#ucompare-container.open{
  width: 450px;
}
#ucompare-container figure{   
  position: relative;
  left: -80px;
  background: white;
  padding: 13px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}
#ucompare-container.open figure{
  left: 0;
  box-shadow: none !important;
}


.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 5px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
}
.cropit-preview-image-container {
  cursor: move;
}
.cropit-preview-background {
  opacity: .2;
  cursor: auto;
}
.image-editor .export {
  /* Use relative position to prevent from being covered by image background */
  position: relative;
  z-index: 10;
  display: block;
}