<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - User List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="border-success float-right" @click="showForm(0)">Add User</b-btn>
			</h6>
			<div class="w-md-25 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter">
				<!-- <template slot="photo" slot-scope="user">
					<img class="rounded-circle img-thumb border w-100" :src="user.item.avatar">
				</template> -->
				<template slot="name" slot-scope="user">
					<div><a :href="user.item.url" target="_blank">{{user.item.first_name+' '+user.item.last_name}}</a></div>
					<div><small><i class="fa fa-envelope"></i> {{user.item.email}}</small></div>
					<small class="text-muted">{{user.item.profession}}</small>
				</template>
				<template slot="roles" slot-scope="user">
					<label class="border p-1 rounded mr-1 fs-1 text-muted" v-for="(role, i) in user.item.roles" :key="i">{{role}}</label>					
				</template>
				<template slot="action" slot-scope="user">
					<b-btn size="sm" variant="outline-success" @click="status('activate', user.item)" v-if="user.item.status == 'inactive'">Approve</b-btn>
					<b-btn size="sm" variant="outline-warning" @click="status('block', user.item)" v-if="user.item.status == 'active'">Block</b-btn>
					<b-btn size="sm" variant="outline-primary" @click="status('unblock', user.item)" v-if="user.item.status == 'block'">Unblock</b-btn>
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(user.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(user.item)" v-show="user.item.status == 'active'">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(user.item)" v-show="user.item.status == 'trashed'">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(user.item)" v-show="user.item.status == 'trashed' || user.item.status == 'inactive'">Destroy</b-btn>
				
				</template>
			</b-table>
			
			<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" />
			<div class="text-center text-muted">Total {{items.length}} records</div>
		</b-card>
	
		<b-modal ref="modal" hide-footer :title="formTitleModal" size="xl" no-close-on-backdrop>
			<b-tabs v-model="tabIndex">

				<b-tab title="Details" active class="pt-3">
					<b-form @submit="onSubmit" :action="formDetail.action" :method="formDetail.method" name="formDetail" class="w-50 mx-auto">
						<input type="hidden" v-model="formDetail.id" name="id">
						<b-form-group label="First Name">
							<b-form-input type="text" v-model="formDetail.first_name" required></b-form-input>
						</b-form-group>
						<b-form-group label="Last Name">
							<b-form-input type="text" v-model="formDetail.last_name"></b-form-input>
						</b-form-group>
						<b-form-group label="Profession">
							<b-form-input type="text" v-model="formDetail.profession"></b-form-input>
						</b-form-group>
						<b-form-group label="Email">
							<b-form-input type="email" v-model="formDetail.email" required></b-form-input>
						</b-form-group>
						<b-form-group label="Country">
							<selectize v-model="formDetail.country" :options="countries" required data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Country"> </selectize>
						</b-form-group>
						<b-form-group label="Roles">
							<b-form-select multiple :select-size="4" v-model="formDetail.roles" :options="roles" required> </b-form-select>
						</b-form-group>
						<hr>
						<p class="text-muted" v-show="isEditUser"><i>Leave blank if you do not want to modify the password</i></p>
						<b-form-group label="Password">
							<b-form-input type="password" v-model="formDetail.password" :required="!isEditUser"></b-form-input>
						</b-form-group>
						<b-form-group label="Confirm Password">
							<b-form-input type="password" v-model="formDetail.password_confirmation" :required="!isEditUser"></b-form-input>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Access" active class="pt-3" :disabled="!formAccess.user_id">
					<b-form @submit="onSubmit" action="api/user/access" method="post" name="formAccess">
						<input type="hidden" v-model="formAccess.user_id">
					<b-row>
						<b-col md="6">
							<b-form-group>
								<p>Grant <strong>{{formDetail.first_name}}</strong> to access universities<br>
								<i>{{formAccess.universities.length}} university selected</i></p>
								<b-form-fieldset>
									<b-form-input v-model="filterUniversities" size="sm" placeholder="Type to Search" class="rounded"></b-form-input>
								</b-form-fieldset>
								<b-table ref="tableUniversities" responsive hover :items="universities" :fields="fieldAccess" :current-page="currentPageUniversities" :per-page="perPageUniversities" :filter="filterUniversities">
									<template slot="check" slot-scope="university">
										<input type="checkbox" :key="university.index" :value="university.item.id" @click.stop  v-model="formAccess.universities">
									</template>
									<template slot="name" slot-scope="university">
										<div class="fs-1 font-weight-bold">{{university.item.name}}</div>
										<i class="fs-1">{{university.item.address}}</i>
									</template>
									<template slot="country" slot-scope="university">
										<small>{{university.item.country.name}}</small>
									</template>
								</b-table>
								
								<b-pagination  align="center" size="sm" :total-rows="universities.length" :per-page="perPageUniversities" v-model="currentPageUniversities" />
								<div class="text-center text-muted">Total {{universities.length}} records</div>
							</b-form-group>
						</b-col>
						<b-col md="6">
							<b-form-group>
								<p>Grant <strong>{{formDetail.first_name}}</strong> to access services<br>
								<i>{{formAccess.services.length}} service selected</i></p>
								<b-form-fieldset>
									<b-form-input v-model="filterServices" size="sm" placeholder="Type to Search" class="rounded"></b-form-input>
								</b-form-fieldset>
								<b-table ref="tableServices" responsive hover :items="services" :fields="fieldAccess" :current-page="currentPageServices" :per-page="perPageServices" :filter="filterServices">
									<template slot="check" slot-scope="service">
										<input type="checkbox" :key="service.index" :value="service.item.id" @click.stop v-model="formAccess.services">
									</template>
									<template slot="name" slot-scope="service">
										<div class="fs-1"><span class="font-weight-bold">{{service.item.name}}</span> <small class="border rounded p-1 ml-1">{{service.item.category_name}}</small></div>
										<i class="fs-1">{{service.item.address}}</i>
									</template>
									<template slot="country" slot-scope="service">
										<small>{{service.item.country.name}}</small>
									</template>
								</b-table>
								
								<b-pagination  align="center" size="sm" :total-rows="services.length" :per-page="perPageServices" v-model="currentPageServices" />
								<div class="text-center text-muted">Total {{services.length}} records</div>
							</b-form-group>
						</b-col>
					</b-row>
						<b-form-group class="text-center">
							<hr>
							<b-button type="button" variant="default" @click="hideForm">Close</b-button>&nbsp;
							<b-button type="submit" variant="primary">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>
			</b-tabs>
    </b-modal>
	</div>
</template>

<script>
export default {
  data () {
    return {
			tabIndex: 0,
			isAjxRequest: false,
      items: [],
			countries: [],
			roles: [],
			universities: [],
			services: [],

			currentPage: 1,
			perPage: 10,
			filter: null,
			fields: {
				name: {}, 
				country: {}, 
				roles: {thStyle: 'width: 15rem;'}, 
				status: {}, 
				action:{thStyle: 'width: 15rem;'}
			},
			
			currentPageUniversities: 1,
			perPageUniversities: 5,
			filterUniversities: null,
			currentPageServices: 1,
			perPageServices: 5,
			filterServices: null,
			fieldAccess: {
				check:{},
				name: {}, 
				country: {},
			},
			
			formTitleModal: 'Add New User',
			formDetail:{
				action: 'api/user',
				method: 'post',
				id: 0,
				first_name: null,
				last_name: null,
				profession: null,
				country: null,
				email: null,
				roles: [],
				password:null,
				password_confirmation:null
			},
			formAccess: {
				user_id: 0,
				universities: [],
				services: [],
			},
			isEditUser: false,
		}
  },
	methods: {
		remove(user){
			if(confirm('Remove '+user.first_name+' '+user.last_name+'?')){
				this.isAjxRequest = true;
				axios.put('api/user/trash/'+user.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response));
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(user){
			if(confirm('Restore '+user.first_name+' '+user.last_name+'?')){
				this.isAjxRequest = true;
				axios.put('api/user/restore/'+user.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response));
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(user){
			if(confirm('Remove '+user.first_name+' '+user.last_name+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/user/'+user.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response));
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		status(status, user){
			if(confirm(status+' '+user.first_name+' '+user.last_name+'?')){
				axios.put('api/user/'+status+'/'+user.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
    showForm(user){
			let vm = this
			this.tabIndex = 0
			if(user == 0){
				this.resetData('formDetail')
				this.resetData('formAccess')
				this.isEditUser = false;
					
			}else{
				this.formDetail.id = user.id;
				this.formDetail.first_name = user.first_name;
				this.formDetail.last_name = user.last_name;
				this.formDetail.profession = user.profession;
				this.formDetail.country = user.country_code;
				this.formDetail.email = user.email;
				this.formDetail.roles = user.roleIds;
				this.formDetail.action = 'api/user/'+user.id;
				this.formDetail.method = 'put';
				
				this.isEditUser = true;
				this.formAccess.user_id = user.id;
				
				this.fetchDataUserAccess(user)
			}
      this.$refs.modal.show()
		},
		onSubmit(evt){
			evt.preventDefault();
			let $form = $(evt.target);
			let isSuccess = true
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let $btnSubmit = $('form').find('button:submit')
			
			$btnSubmit.append(_spinner);
			$form.find('button, input').prop('disabled', true)
			this.isAjxRequest = true;
			
			axios({
				method: $form.attr('method'),
				url: $form.attr('action'),
				data: this[$form.attr('name')]
			}).then(response => {
				if($form.attr('name') == 'formDetail'){
					if($form.attr('method') == 'post'){
						this.formAccess.user_id = this.formDetail.id
					}
				}
				
				if(typeof response.data.errors != 'undefined'){
					alert(getErrorMessage(response.data))
				}else{
					alert('Data has been saved')
					this.fetchData();
				}	
			}).catch(error => {
				alert(getErrorMessage(error.response))
			})
			.then(() => {
				$form.find('button, input').prop('disabled', false)
				$btnSubmit.find('i.fa-spinner').remove();
				this.isAjxRequest = false;

			});
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/user')
				.then(response => {
					this.items = response.data;					
				})
				.catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})	
		},
		fetchDataRoles(){
			let vm = this;
			let _roles = [];		
			this.isAjxRequest = true;
			axios.get('api/role')
				.then(response => {				
					response.data.forEach(function(item, i){			
						_roles.push({text: item.name,	value: item.id});
					});
					vm.roles = _roles;
				})
				.catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})	
		},
		fetchDataCountries(){
			let vm = this;
			let _countries = [];		
			this.isAjxRequest = true;
			axios.get('api/countries')
				.then(response => {
					response.data.forEach(function(item, i){
						_countries.push({text: item.name,	value: item.code});
					});
					vm.countries = _countries;
				})
				.catch(error => {
					getErrorMessage(error.response.data)
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})			
		},
		fetchDataUserAccess(user){
			let vm = this;
			let _universities = [];		
			axios.get('api/user/'+user.id+'/access')
				.then(response => {
					this.formAccess.universities = response.data.universities
					this.universities = this.arrayCheckedFirst(this.universities, response.data.universities)

					this.formAccess.services = response.data.services
					this.services = this.arrayCheckedFirst(this.services, response.data.services)
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		fetchDataUniversities(){
			let vm = this;
			let _universities = [];		
			axios.get('api/universities')
				.then(response => {
					this.universities = this.arrayCheckedFirst(response.data, this.formAccess.universities)
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		fetchDataServices(){
			let vm = this;
			let _services = [];		
			axios.get('api/services')
				.then(response => {
					this.services = this.arrayCheckedFirst(response.data, this.formAccess.services)
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		hideForm(){
			this.$refs.modal.hide()
		},
		resetData(data){
			$.each(this[data], (item, value) => {
				if(item == 'action' || item == 'method') return
				if(typeof value == 'number') this[data][item] = 0
				else if(typeof value == 'string') this[data][item] = null
				else if(typeof value == 'object') this[data][item] = []
			})
		},
		arrayCheckedFirst(data, checked){
			let _checked = $.map(data, (_data) => {
				if(checked.indexOf(_data.id) > -1) return _data
			})
			let _unchecked = $.map(data, (_data) => {
				if(checked.indexOf(_data.id) < 0) return _data
			})
			
			return _checked.concat(_unchecked)
		}
  },
	mounted(){
		let vm = this
		$.getScript('js/fn.js')
		.done(() => {
			vm.fetchData();
			vm.fetchDataRoles();
			vm.fetchDataCountries();
			vm.fetchDataUniversities();
			vm.fetchDataServices();
		})
	}
}
</script>