<template>
	<div class="w-md-25 mx-auto">
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - User Role List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<!-- <b-btn size="sm" variant="outline-success" class="float-right" @click="showForm(0)">Add Role</b-btn> -->
			</h6>
			<p class="text-muted">This data are not editable</p>
			<b-table ref="table" responsive hover :items="items" :fields="fields">
				<!-- <template slot="name" slot-scope="role">
					{{role.item.name}} <small class="border rounded text-muted p-1" v-show="role.item.deleted_at">trashed</small> 
				</template>
				<template slot="#" slot-scope="role">
					{{role.index + 1}}
				</template>
				<template slot="action" slot-scope="role">
					<b-btn size="sm" variant="outline-primary" @click="showForm(role.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" @click="remove(role.item)" v-show="!role.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" @click="restore(role.item)" v-show="role.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" @click="destroy(role.item)" v-show="role.item.deleted_at">Destroy</b-btn>
				</template> -->
			</b-table>
		</b-card>
	
		<!-- <b-modal ref="modal" hide-footer :title="formTitleModal">
			<b-form @submit="onSubmit">
				<input type="hidden" v-model="form.id" name="id">
				<b-form-group label="Name">
					<b-form-input type="text" v-model="form.name" required></b-form-input>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
    </b-modal> -->
	</div>
</template>

<script>
export default {
  data () {
    return {
			isAjxRequest: false,
			items: [],
			fields: ['id', 'name'],
			/* fields: ['#', 'name', 'action'],
			formTitleModal: 'Add New User Role',
			form: {
				id: 0,
				name: '',
			} */
    }
  },
	methods: {
		/* remove(role){
			if(confirm('Remove '+role.name+'?')){
				axios.put('api/role/trash/'+role.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		restore(role){
			if(confirm('Restore '+role.name+'?')){
				axios.put('api/role/restore/'+role.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
		destroy(role){
			if(confirm('Remove '+role.name+' permanently?')){
				axios.delete('api/role/'+role.id)
					.then(response => {
						this.fetchData();
					})
			}
		},
    showForm(role) {
			this.form.name = '';
			
			if(role != 0){
				this.formTitleModal = 'Edit '+role.name;
				this.form.id = role.id;
				this.form.name = role.name;
			}
      this.$refs.modal.show()
    },
		onSubmit(evt){
			evt.preventDefault();
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let _btnSubmit = $('form').find('button:submit')
			
			_btnSubmit.prop('disabled', true);
			_btnSubmit.append(_spinner);
			
			axios({
				method: (this.form.id == 0)?'post':'put',
				url: (this.form.id == 0)?'api/role/':'api/role/'+this.form.id,
				data: this.form
			}).then(response => {
				_btnSubmit.prop('disabled', false);
				_btnSubmit.find('.fa-spinner').remove();
				
				this.fetchData();
				this.$refs.modal.hide()
			})
			
		}, */
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/role')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		}
  },
	mounted(){
		let vm = this
		$.getScript('js/fn.js')
		.done(() => {
			vm.fetchData();
		})
	}
}
</script>