<template>
	<div>
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Dashboard - Service List <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-btn size="sm" variant="outline-success" class="float-right border-success" @click="showFormImport">Import Services</b-btn>
				<b-btn size="sm" variant="outline-success" class="float-right border-success mr-1" @click="showForm(0)">Add Service</b-btn>
			</h6>	
			<div class="w-md-50 float-md-right">
				<b-form-fieldset>
					<b-form-input v-model="filter" placeholder="Type to Search" class="rounded"></b-form-input>
				</b-form-fieldset>
			</div>
			<b-table ref="table" responsive hover :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" v-model="tableValues">
				<template slot="HEAD_check" slot-scope="service">
					<input type="checkbox" @click.stop="toggleService" v-model="allSelected">
				</template>
				<template slot="check" slot-scope="service">
					<input type="checkbox" :key="service.index" :value="service.item" @click.stop v-model="checkedItems">
				</template>
				<template slot="services" slot-scope="service">
					<div>
						<a :href="service.item.url" target="_blank" class="font-weight-bold">{{service.item.name}}</a>
						<small class="border bg-light rounded p-1" v-show="service.item.is_featured == 1">Featured</small>
					</div>
					<span><i class="fa fa-map-marker"></i> {{service.item.address}}</span>
				</template>
				<template slot="category" slot-scope="service">
					<small class="border rounded p-1"><i class="fa fa-circle-o"></i> {{service.item.category_name}}</small>
				</template>
				<template slot="action" slot-scope="service">
					<b-btn size="sm" variant="outline-primary" class="border-primary" @click="showForm(service.item)">Edit</b-btn>
					<b-btn size="sm" variant="outline-warning" class="border-warning" @click="remove(service.item)" v-show="!service.item.deleted_at">Remove</b-btn>
					<b-btn size="sm" variant="outline-success" class="border-success" @click="restore(service.item)" v-show="service.item.deleted_at">Restore</b-btn>
					<b-btn size="sm" variant="outline-danger" class="border-danger" @click="destroy(service.item)" v-show="service.item.deleted_at">Destroy</b-btn>
				</template>
			</b-table>
			<hr>
			<b-row>
				<b-col md="6" class="pl-3">
					<label class="mr-2">
						<input type="checkbox" @click.stop="toggleService" v-model="allSelected"> Check All
					</label>
					<b-select v-model="bulkAction" class="w-50" @change="actionSelect">
						<option value="">Select Action</option>
						<option value="remove">Remove Selected</option>
						<option value="destroy">Destroy Selected</option>
						<option value="restore">Restore Selected</option>
					</b-select> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				</b-col>
				<b-col md="6" class="text-center text-md-right">
					<b-pagination  align="center" size="sm" :total-rows="this.items.length" :per-page="perPage" v-model="currentPage" @change="clearSelected" />
					<div class="text-center text-muted">Total {{items.length}} records</div>
				</b-col>
			</b-row>
		</b-card>
	<!-- <div class="my-1">
    Checked Items:
    <br>
    <pre>{{ JSON.stringify(checkedItems, null, '  ') }}</pre>
  </div> -->
		<b-modal ref="modal" hide-footer :title="formTitleModal" size="lg" no-close-on-backdrop>
			<b-tabs v-model="tabIndex">
				
				<b-tab title="Details" active class="pt-3">
					<b-form @submit="onSubmit" :action="formDetail.action" :method="formDetail.method" name="formDetail">
						<input type="hidden" v-model="formDetail.id" name="id">
						<b-row>
							<b-col md="6">
								<div class="text-center w-75 h-75 mx-auto mb-4">
									<figure class="mx-auto border h-100">
										<b-img id="logo" :src="formDetail.logo" class="mh-100 mw-100"></b-img>
										<input type="hidden" v-model="formDetail.logo">
									</figure>
									<b-btn size="sm" variant="outline-secondary" class="border position-relative mr-3">
										Logo <i class="fa fa-camera"></i>
										<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/service/upload/logo" data-form="formDetail" data-form-object="logo" />
									</b-btn>
									<b-btn variant="outline-danger" size="sm" v-show="formDetail.logo" @click="removeFile" data-action="api/service/remove/logo" data-form="formDetail" data-form-object="logo">
										<i class="fa fa-close"></i>
									</b-btn>
									<i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
								</div>
								
								<b-form-group class="pt-3">
									<b-form-checkbox v-model="formDetail.is_delivery" value="1" unchecked-value="0">	Home Delivery?</b-form-checkbox><br>
									<b-form-checkbox v-model="formDetail.is_featured" value="1" unchecked-value="0">	Featured</b-form-checkbox>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group label="Name">
									<b-form-input type="text" v-model="formDetail.name" required></b-form-input>
								</b-form-group>
								<b-form-group label="Slug">
									<b-form-input type="text" v-model="formDetail.slug" required></b-form-input>
								</b-form-group>
								<b-form-group label="Address">
									<b-form-input type="text" v-model="formDetail.address" ></b-form-input>
								</b-form-group>
								<b-form-group label="Country">
									<selectize v-model="formDetail.country_code" :options="countries" required data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Country"></selectize>
								</b-form-group>
								<b-form-group label="City">
									<b-form-input type="text" v-model="formDetail.city" ></b-form-input>
								</b-form-group>
							</b-col>
						</b-row>
						<b-row>
							<b-col md="6">
								<b-form-group label="Category">
									<selectize v-model="formDetail.category_id" :options="categories" data-selectize-options='{"plugins": ["remove_button"]}' placeholder="Select Category"></selectize>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group label="Founding Year">
									<b-form-input type="number" :max="maxYear" maxlength="4" v-model="formDetail.founding_year"></b-form-input>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group label="Description">
							<b-form-textarea v-model="formDetail.description" rows="3" ></b-form-textarea>
						</b-form-group>
						<b-row>
							<b-col md="6">
								<b-form-group label="Contact Person">
									<b-form-input type="text" v-model="formDetail.contact_name" ></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="6">
								<b-form-group label="Contact Number">
									<b-form-input type="text" v-model="formDetail.contact_phone" ></b-form-input>
								</b-form-group>
							</b-col>
						</b-row>
						<b-row>
							<b-col md="4">
								<b-form-group label="Website">
									<b-form-input type="text" v-model="formDetail.website" placeholder="https://website.com"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Facebook">
									<b-form-input type="text" v-model="formDetail.facebook" placeholder="https://facebook.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Twitter">
									<b-form-input type="text" v-model="formDetail.twitter" placeholder="https://twitter.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Youtube">
									<b-form-input type="text" v-model="formDetail.youtube" placeholder="https://youtube.com/name"></b-form-input>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group label="Linkedin">
									<b-form-input type="text" v-model="formDetail.linkedin" placeholder="https://linkedin.com/name"></b-form-input>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group>
							<hr>
							<b-btn size="sm" variant="outline-secondary" class="border position-relative">
								Hero Image <i class="fa fa-camera"></i>
								<input type="file" name="file" accept="image/*" class="file-uploader" @click="uploadFile" data-action="api/service/upload/hero" data-form="formDetail" data-form-object="hero_image" />
							</b-btn>
							<b-btn variant="outline-danger" size="sm" v-show="formDetail.hero_image" @click="removeFile" data-action="api/university/remove/hero" data-form="formDetail" data-form-object="hero_image">
								<i class="fa fa-close"></i>
							</b-btn>
							<i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
							<figure>
								<b-img fluid thumbnail id="hero-image" :src="formDetail.hero_image"></b-img>
								<input type="hidden" v-model="formDetail.hero_image">
							</figure>
						</b-form-group>
						<b-form-group class="text-center">
							<hr>
							<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
						</b-form-group>
					</b-form>
				</b-tab>

				<b-tab title="Business Hours" class="pt-3"  :disabled="!formBusinessHours.service_id">
					<form @submit="onSubmit" :action="formBusinessHours.action" :method="formBusinessHours.method" name="formBusinessHours">
						<input type="hidden" v-model="formBusinessHours.service_id">
						<p class="alert alert-info">
							* Off-day / Close = Set open hours to "00:00:00" and close hours to "00:00:00"<br>
							* Open 24 hours = Set open hours to "00:00:00" and close hours to "23:59:59"<br>
						</p>
						<b-row v-for="(day, i) in formBusinessHours.days" :key="i" class="border-bottom mb-2">
							<b-col md="2" class="text-md-right">{{formBusinessHours.days[i]}}</b-col>
							<b-col md="3">
								<b-form-group>
									<timepicker v-model="formBusinessHours.open[i]" placeholder="Open at" title="Open at"></timepicker>
								</b-form-group>
							</b-col>
							<b-col md="3">
								<b-form-group>
									<timepicker v-model="formBusinessHours.close[i]" placeholder="Closed at" title="Closed at"></timepicker>
								</b-form-group>
							</b-col>
							<b-col md="4">
								<b-form-group class="text-left">
									<b-form-radio-group v-model="formBusinessHours.setHours[i]">
										<b-form-radio value="close"> CLose</b-form-radio>
										<b-form-radio value="24hours"> Open 24 Hours</b-form-radio>
									</b-form-radio-group>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group class="text-center">
							<hr>
							<b-button variant="primary" type="submit">Submit</b-button>
						</b-form-group>
					</form>
				</b-tab>
			</b-tabs>
    </b-modal>
		
		<b-modal ref="modalExcel" hide-footer title="Import Service data from excel file" no-close-on-backdrop>
			<div class="upload-container">
				<div class="alert alert-warning">
					<span class="font-weight-bold text-warning">important!</span><br>
					<div class="text-dark">
						- Make sure the file name contain the city and country name.<br>
						- The city and country name should be separated by a comma.<br>
						example: <br>
						<i class="text-muted ml-2">sydney, australia.xlsx</i>
					</div>
				</div>
				<b-btn size="sm" variant="outline-success" class="border position-relative mb-1">
					Choose excel file <i class="fa fa-excel-o"></i>
					<input type="file" name="file" multiple accept=".xlsx, .xls" class="file-uploader" @click="uploadFile" data-action="api/service/upload/excel" data-form="formImport" data-form-object="files"/>
				</b-btn> <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i>
				<b-form @submit="onSubmit" action="api/service/import" method="post" name="formImport">
					<div style="overflow-x:auto;">
						<div v-for="(file, i) in formImport.files" :key="i">
							<b-btn size="sm" variant="outline-danger" @click="removeFile" data-action="api/service/remove/excel" :data-file="file" data-form="formImport" data-form-object="files">
								<i class="fa fa-remove"></i>
							</b-btn>{{file.replace('files/excel/', '')}}
						</div>
					</div>
					<hr>
					<div class="text-center">
						<b-btn variant="success" id="btn-import" type="submit">Import</b-btn>
					</div>
				</b-form>
			</div>
		</b-modal>

	</div>
</template>

<style>
.file-uploader{
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  opacity: 0;
}
</style>

<script>
export default {
  data () {
    return {
			tabIndex: 0,
			isAjxRequest: false,
			maxYear: 0,
			currentPage: 1,
			perPage: 10,
			filter: null,
			items: [],
			categories: [],
			countries: [],
			fields: {
				check:{},
				services: {},
				category: {thStyle: 'width: 20rem;'},
				action: {thStyle: 'width: 15rem;'}
			},
			tableValues: [],
			allSelected: false,
			checkedItems: [],
			bulkAction: '',
			formTitleModal: 'Add Service',
			formDetail: {
				action: 'api/service',
				method: 'post',
				id: 0,
				name: '',
				slug: '',
				category_id: 0,
				logo: '',
				address: '',
				country_code: '',
				city: '',
				contact_name: '',
				contact_phone: '',
				founding_year: 0,
				website: '',
				facebook: '',
				twitter: '',
				youtube: '',
				linkedin: '',
				description: '',
				is_delivery: 0,
				is_featured: 0,
				hero_image: ''
			},
			formBusinessHours: {
				action: 'api/service/busines-hours',
				method: 'post',
				service_id: 0,
				days: [],
				open: [],
				close: [],
				setHours: [],
			},
			formImport: {
				files: []
			}
    }
  },
	methods: {
		remove(service){
			if(confirm('Remove '+service.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/service/trash/'+service.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		restore(service){
			if(confirm('Restore '+service.name+'?')){
				this.isAjxRequest = true;
				axios.put('api/service/restore/'+service.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		destroy(service){
			if(confirm('Remove '+service.name+' permanently?')){
				this.isAjxRequest = true;
				axios.delete('api/service/'+service.id)
					.then(response => {
						this.fetchData();
					}).catch(error => {
						alert(getErrorMessage(error.response.data))
					}).then(() => {
						this.isAjxRequest = false;
					})
			}
		},
		showFormImport(event){
			$(event.target).find('input').val('');
			this.$refs.modalExcel.show();
		},
    showForm(service) {
			let vm = this
			this.tabIndex = 0
			this.formDetail.action = 'api/service';
			this.formDetail.method = 'post';
			this.resetData('formDetail')
			
			this.formBusinessHours.action = 'api/service/busines-hours';
			this.formBusinessHours.method = 'post';
			this.resetData('formBusinessHours')
			
			if(service != 0){
				this.formTitleModal = 'Edit '+service.name;
				this.formDetail.id = service.id;
				this.formDetail.category_id = service.category_id;
				this.formDetail.name = service.name;
				this.formDetail.logo = service.logo;
				this.formDetail.hero_image = service.hero_image;
				this.formDetail.address = service.address;
				this.formDetail.country_code = service.country_code;
				this.formDetail.city = service.city;
				this.formDetail.contact_name = service.contact_name;
				this.formDetail.contact_phone = service.contact_phone;
				this.formDetail.founding_year = service.founding_year;
				this.formDetail.website = service.website;
				this.formDetail.facebook = service.facebook;
				this.formDetail.twitter = service.twitter;
				this.formDetail.youtube = service.youtube;
				this.formDetail.linkedin = service.linkedin;
				this.formDetail.description = service.description;
				this.formDetail.is_delivery = service.is_delivery;
				this.formDetail.is_featured = service.is_featured;
				this.formDetail.action = 'api/service/'+service.id;
				this.formDetail.method = 'put';
			
				this.formBusinessHours.service_id = service.id;
				setTimeout(function(){
					vm.formDetail.slug = service.slug;
				}, 700)

			}
			this.fetchDataBusinessHours(service);
      this.$refs.modal.show()
			setTimeout(function(){
				$('.modal-content').removeAttr('tabindex');
			}, 700)
    },
		onSubmit(evt){
			evt.preventDefault();
			let $form = $(evt.target);
			let isSuccess = true
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let $btnSubmit = $('form').find('button:submit')
			
			$btnSubmit.prop('disabled', true);
			$btnSubmit.append(_spinner);
			$form.find('button').prop('disabled', true)
			this.isAjxRequest = true;
			
			axios({
				method: $form.attr('method'),
				url: $form.attr('action'),
				data: this[$form.attr('name')]
			}).then(response => {
				if($form.attr('name') == 'formDetail'){
					if($form.attr('method') == 'post'){
						this.formBusinessHours.service_id = response.data.service.id
					}
				}else if($form.attr('name') == 'formImport'){
					this.resetData($form.attr('name'))
				}
				if(typeof response.data.errors != 'undefined')
					alert(getErrorMessage(response.data))
				else
					alert('Data has been saved')

				if($form.attr('name') == 'formImport'){
					this.resetData($form.attr('name'))
				}
			}).catch(error => {
				alert(getErrorMessage(error.response.data))
				isSuccess = false
			})
			.then(() => {
				$btnSubmit.prop('disabled', false);
				$btnSubmit.find('i.fa-spinner').remove();
				$form.find('button').prop('disabled', false)
				this.isAjxRequest = false;
				if(isSuccess) this.fetchData();

			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/services')
				.then(response => {
					this.items = response.data;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
					return [];
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
		fetchDataBusinessHours(service){
			let vm = this

			if(service != 0){
				this.isAjxRequest = true;
				axios.get('api/service/'+service.id+'/business-hours')
					.then(response => {
						vm.formBusinessHours.action = 'api/service/'+service.id+'/business-hours';
						vm.formBusinessHours.method = 'put';
						vm.formBusinessHours.service_id = service.id

						if(response.data.length){
							$.each(response.data, (i, item) => {
								vm.formBusinessHours.days.push(item.day)
								vm.formBusinessHours.open.push(item.open)
								vm.formBusinessHours.close.push(item.close)
								vm.formBusinessHours.setHours.push('')
							})
						}else{
							vm.formBusinessHours.days[0] = 'Monday';
							vm.formBusinessHours.days[1] = 'Tuesday';
							vm.formBusinessHours.days[2] = 'Wednesday';
							vm.formBusinessHours.days[3] = 'Thursday';
							vm.formBusinessHours.days[4] = 'Friday';
							vm.formBusinessHours.days[5] = 'Saturday';
							vm.formBusinessHours.days[6] = 'Sunday';
						}
					}).catch(error => {
						getErrorMessage(error.response.data)
						return [];
					}).then(() => {
						this.isAjxRequest = false;
					})
			}else{
				vm.formBusinessHours.days[0] = 'Monday';
				vm.formBusinessHours.days[1] = 'Tuesday';
				vm.formBusinessHours.days[2] = 'Wednesday';
				vm.formBusinessHours.days[3] = 'Thursday';
				vm.formBusinessHours.days[4] = 'Friday';
				vm.formBusinessHours.days[5] = 'Saturday';
				vm.formBusinessHours.days[6] = 'Sunday';
			}
		},
		fetchDataCategory(){
			let vm = this;
			let _categories = [];	
			axios.get('api/service/categories')
				.then(function(response){					
					response.data.forEach((item, i) => {
						_categories.push({text: item.name,	value: item.id});
					});
					vm.categories = _categories;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
		fetchDataCountry(){
			let vm = this;
			let _countries = [];		
			axios.get('api/countries')
				.then(response => {					
					response.data.forEach((item, i) => {
						_countries.push({text: item.name,	value: item.code});
					});
					vm.countries = _countries;
				}).catch(error => {
					getErrorMessage(error.response.data)
					return []
				})
		},
    uploadFile(event){
			let $el = $(event.target);
			let $container = $el.parents('.upload-container')
			let vm = this;

      let uploader = $el.fileupload({
				url: $el.data('action')
			})
			.on('fileuploadprogressall', function (e, data){
        let progress = parseInt(data.loaded / data.total * 100, 10);
				vm.isAjxRequest = (progress < 100)
			})
			.on('fileuploaddone', function(evt, response){
				if(response.textStatus == 'success'){
					if($el.data('form-object') == 'logo' || $el.data('form-object') == 'hero_image')
						vm[$el.data('form')][$el.data('form-object')] = response.result.file;
					
					else if($el.data('form-object') == 'files')
						vm[$el.data('form')][$el.data('form-object')].push(response.result.file)
				}
				/* if(response.textStatus == 'success'){
					vm[$el.data('form')][$el.data('form-object')] = response.result.file;
				} */
      })
      .on('fileuploadfail', function(evt, response){
				alert(getErrorMessage(response.jqXHR))
			});
		},
		removeFile(event){
			let $el = $(event.target);
			let vm = this
			$el = ($el.is('button') == false)? $el.parents('button') : $el;

			if(confirm('Remove this file?')){
				this.isAjxRequest = true;
				let data = vm[$el.data('form')][$el.data('form-object')]
				let file = $el.data('file')

				axios.delete($el.data('action'), {params: {file: file}})
					.then((response) => {
						if(typeof data == 'string')
							data = null;

						else if(typeof data == 'object'){
							data = data.filter(function(item){ return item !== file })
						}
						
					}).catch(function(error){
						alert(getErrorMessage(error.response))

					}).then(function(){
						vm.isAjxRequest = false;
						vm[$el.data('form')][$el.data('form-object')] = data
					})
			}
		},
		resetData(data){
			$.each(this[data], (item, value) => {
				if(item == 'action' || item == 'method') return
				if(typeof value == 'number') this[data][item] = 0
				else if(typeof value == 'string') this[data][item] = null
				else if(typeof value == 'object') this[data][item] = []
			})
		},
		toggleService(){
			this.allSelected = this.allSelected ? false: true;
			this.checkedItems = this.allSelected ? this.tableValues : [];
		},
		clearSelected(){
			this.allSelected = false;
			this.checkedItems = [];
		},
		actionSelect(){
			let vm = this
			
			setTimeout(function(){
				let totalItems = vm.checkedItems.length;
				let serviceIds = [];

				if(totalItems > 0 && vm.bulkAction != ''){
					if(confirm(vm.bulkAction+' this '+totalItems+' items?')){
						$.each(vm.checkedItems, function(i, object){
							serviceIds.push(object.id)
						})

						if(serviceIds.length){
							$('table').find('button, input').prop('disabled', true)
							vm.isAjxRequest = true
							axios.post('api/services/'+vm.bulkAction, {serviceIds: serviceIds})
								.then(response =>{
									alert(response.data.message)
									vm.fetchData();
									vm.checkedItems = [];

								}).catch(error => {
									alert(getErrorMessage(error.response.data))

								}).then(() => {
									vm.isAjxRequest = false
									vm.bulkAction = ''
									$('table').find('button, input').prop('disabled', false)
								})
						}
					}
				}
			}, 500)
		}
	},
	watch:{
		'formDetail.name'(val){
			this.formDetail.slug = generateSlug(val)
		},
		'formBusinessHours.open'(val){
			let vm = this

			$.each(val, function(i, v){
				if(v == '') return;
				
				if(v == '00:00:00' && vm.formBusinessHours.close[i] == '00:00:00'){
					vm.formBusinessHours.setHours[i] = 'close'
				}else{
					vm.formBusinessHours.setHours[i] = ''	
				}
			})
		},
		'formBusinessHours.close'(val){
			let vm = this

			$.each(val, function(i, v){
				if(v == '') return;
				
				if(v == '00:00:00' && vm.formBusinessHours.open[i] == '00:00:00'){
					vm.formBusinessHours.setHours[i] = 'close'
				}else{
					vm.formBusinessHours.setHours[i] = ''	
				}
			})
		},
		'formBusinessHours.setHours'(val){
			let vm = this

			$.each(val, function(i, v){
				if(v == '') return;
				else if(v == 'close'){
					vm.formBusinessHours.open[i] = '00:00:00'
					vm.formBusinessHours.close[i] = '00:00:00'

				}else if(v == '24hours'){
					vm.formBusinessHours.open[i] = '00:00:00'
					vm.formBusinessHours.close[i] = '23:59:59'
				}
			})
		},
		checkedItems(val){
			this.allSelected = (this.tableValues.length === val.length) ? true : false;
		},
	},
	mounted(){
		let vm =this		
		let date = new Date();
		this.maxYear = date.getFullYear() - 1;

		$.getScript('js/fn.js')
			.done(() => {
				vm.fetchData();
				vm.fetchDataCategory();
				vm.fetchDataCountry();
			})
	}
}
</script>