<template>
	<div class="w-25 mx-auto">
		<b-card header-tag="header" class="shadow rounded">
			<h6 slot="header" class="mb-0">Configuration - Notification <i class="fa fa-spinner fa-pulse fa-fw" v-show="isAjxRequest"></i></h6>
			<b-form @submit="onSubmit">
				<b-form-group label="Interval (in minute)">
					<b-input type="number" min="0" v-model="form.interval" required></b-input>
					<small>* Set interval value to <strong>0 (zero)</strong> to turn off the "Long Pooling Feature"</small>
				</b-form-group>
				<b-form-group class="text-center">
					<hr>
					<b-button type="submit" variant="primary" class="mx-auto">Submit</b-button>
				</b-form-group>
			</b-form>
		</b-card>
	</div>
</template>

<script>
export default {
	data(){
		return {
			isAjxRequest: false,
			form:{
				interval: 3
			}
		}
	},
	methods: {
		onSubmit(evt){
			evt.preventDefault();
			let $form = $(evt.target);
			let _spinner = '<i class="fa fa-spinner fa-pulse fa-fw"></i>';
			let $btnSubmit = $('form').find('button:submit')
			
			$btnSubmit.prop('disabled', true);
			$btnSubmit.append(_spinner);
			$form.find('button').prop('disabled', true)
			this.isAjxRequest = true;

			axios({
				method: 'put',
				url: 'api/config/notification',
				data: this.form
			}).then(response => {
				if(typeof response.data.message != 'undefined' && response.data.message != '')
					alert(response.data.message)
				else
					alert('Data has been saved')

			}).catch(error => {
				alert(getErrorMessage(error.response.data))
			})
			.then(() => {
				$btnSubmit.prop('disabled', false);
				$btnSubmit.find('i.fa-spinner').remove();
				$form.find('button').prop('disabled', false)
				this.isAjxRequest = false;
			});
			
		},
		fetchData(){
			this.isAjxRequest = true;
			axios.get('api/config/notification')
				.then(response => {
					this.form.interval = response.data.interval;
				}).catch(error => {
					alert(getErrorMessage(error.response.data))
				}).then(() => {
					this.isAjxRequest = false;
				})		
		},
	},
	mounted(){
		this.fetchData()
	}
}
</script>